{% extends "base/base.twig" %}

{% block config %}
  {{ parent() }}
  {% set page = {
    title: 'JavaScript. ะัะฐะบัะธัะตัะบะพะต ะฟะพัะพะฑะธะต'
  } %}
{% endblock %}

{# โ๏ธ๐ง Use Alt+space for indentation inside pre #}

{% block content %}
  <input class="input__field is-lg" id="topic-filter" type="text" placeholder="ะคะธะปััั ะทะฐะฟะธัะตะน: ะฒะฒะตะดะธัะต ะทะฐะฟัะพั">

  {# Make a draggable element #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3 id="topic-draggable-base">ะะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั</h3>
    </summary>
    <div class="accordion__body">
      <p>ะะฐะทะผะตัะบะฐ:</p>
      <pre>
      <code class="language-html">&lt;div class=&quot;draggable&quot; id=&quot;dragMe&quot;&gt;Drag me&lt;/div&gt;
      </code>
      </pre>
      <p>ะกัะธะปะธ:</p>
      <pre>
        <code class="language-scss">.draggable {
        ยยยย// Indicate the element draggable
        ยยยยcursor: move;

        ยยยย// It will be positioned absolutely
        ยยยยposition: absolute;

        ยยยย// Doesn't allow to select the content inside
        ยยยยuser-select: none;
        ยย}
        </code>
      </pre>
      <p>ะงัะพะฑั ัะดะตะปะฐัั ัะปะตะผะตะฝั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะผ, ะฝะฐะผ ะฝัะถะฝะพ ะพััะปะตะถะธะฒะฐัั ััะธ ัะพะฑััะธั:</p>
      <ul>
      <li><code>mousedown</code> ะฟะพะทะฒะพะปะธั ะฝะฐะผ ะพะฟัะตะดะตะปะธัั ัะตะบััะตะต ะฟะพะปะพะถะตะฝะธะต ะผััะธ;</li>
      <li><code>mousemove</code> ะดะฐัั ะฒะพะทะผะพะถะฝะพััั ัะฐัััะธัะฐัั ะบะฐะบ ะดะฐะปะตะบะพ ะผััะบะฐ ะฟะตัะตะดะฒะธะฝัะปะฐัั ะธ ะณะดะต ัะตะนัะฐั ะฝะฐัะพะดะธััั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั;</li>
      <li><code>mouseup</code> ะฝะฐ ััะพะผ ัะพะฑััะธะธ ัะดะฐะปะธะผ ะพะฑัะฐะฑะพััะธะบะธ, ัััะฐะฝะพะฒะปะตะฝะฝัะต ั ะฟัะตะดัะดััะธะผะธ ะดะฒัะผั.</li>
      </ul>
      <pre>
        <code class="language-javascript">// ะขะตะบััะฐั ะฟะพะทะธัะธั ะผััะบะธ
        let x = 0;
        let y = 0;

        const ele = document.getElementById('dragMe');

        /** ะััะปะตะถะธะฒะฐะตะผ ะฟะตัะตะดะฒะธะถะตะฝะธะต */
        const mouseMoveHandler = (e) =&gt; {
        ยย// ะะฐะบ ะดะฐะปะตะบะพ ะบัััะพั ะฟะตัะตะดะฒะธะฝัะปัั
        ยยconst dx = e.clientX - x;
        ยยconst dy = e.clientY - y;

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะฟะพะทะธัะธั ัะปะตะผะตะฝัะฐ
        ยยele.style.top = `${ele.offsetTop + dy}px`;
        ยยele.style.left = `${ele.offsetLeft + dx}px`;

        ยย// ะะตัะตะพะฟัะตะดะตะปัะตะผ ะฟะพะทะธัะธั ะบัััะพัะฐ
        ยยx = e.clientX;
        ยยy = e.clientY;
        };

        /** ะฃะดะฐะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ ะฝะฐ ะฟัะตะบัะฐัะตะฝะธะธ ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั */
        const mouseUpHandler = () =&gt; {
        ยย// Remove the handlers of `mousemove` and `mouseup`
        ยยdocument.removeEventListener('mousemove', mouseMoveHandler);
        ยยdocument.removeEventListener('mouseup', mouseUpHandler);
        };

        /** ะะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ ะฟะตัะตะด ะฟะตัะตัะฐัะบะธะฒะฐะฝะธะตะผ */
        const mouseDownHandler = (e) =&gt; {
        ยย// ะะพะปััะฐะตะผ ะบะพะพัะดะธะฝะฐัั ะบัััะพัะฐ
        ยยx = e.clientX;
        ยยy = e.clientY;

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปะธ ะฝะฐ ะดะพะบัะผะตะฝั
        ยยdocument.addEventListener('mousemove', mouseMoveHandler);
        ยยdocument.addEventListener('mouseup', mouseUpHandler);
        };

        ele.addEventListener('mousedown', mouseDownHandler);
        </code>
      </pre>

    </div>
  </details>

  {# Drag and drop element in a list #}
  <details class="accordion" id="topic-dnd-li">
    <summary class="accordion__header">
      <h3>ะกะพััะธัะพะฒะบะฐ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ ะฟะตัะตััะณะธะฒะฐะฝะธะตะผ</h3>
    </summary>
    <div class="accordion__body">
      <p>ะะฐะทะผะตัะบะฐ ะธ ััะธะปะธ:</p>
      <pre>
        <code class="language-html">&lt;style&gt;
        ยย.draggable {
        ยยยยcursor: move;
        ยยยยuser-select: none;
        ยย}
        &lt;/style&gt;

        &lt;div id=&quot;list&quot;&gt;
        ยย&lt;div class=&quot;draggable&quot;&gt;A&lt;/div&gt;
        ยย&lt;div class=&quot;draggable&quot;&gt;B&lt;/div&gt;
        ยย&lt;div class=&quot;draggable&quot;&gt;C&lt;/div&gt;
        ยย&lt;div class=&quot;draggable&quot;&gt;D&lt;/div&gt;
        ยย&lt;div class=&quot;draggable&quot;&gt;E&lt;/div&gt;
        &lt;/div&gt;
        </code>
      </pre>
      <h4>ะะตะปะฐะตะผ ัะปะตะผะตะฝัั ะฟะตัะตััะณะธะฒะฐะตะผัะผะธ</h4>
      <p>ะัะฟะพะปัะทัะตะผ ัะตัะฝะธะบั, ะพะฟะธัะฐะฝะฝัั ะฒ ัะฐะทะดะตะปะต ยซ<a href="#topic-draggable-base">ะะตัะตััะณะธะฒะฐะตะผัะน ัะปะตะผะตะฝั</a>ยป.</p>
      <pre>
        <code class="language-javascript">// ะญะปะตะผะตะฝั, ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ะฒ ะดะฐะฝะฝัะน ะผะพะผะตะฝั
        let draggingEle;

        // ะขะตะบััะฐั ะฟะพะทะธัะธั ะบัััะพัะฐ ะพัะฝะพัะธัะตะปัะฝะพ ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ
        let x = 0;
        let y = 0;

        /** ะะตัะตัะฐัะบะธะฒะฐะฝะธะต ะฒ ะฟัะพัะตััะต */
        const mouseMoveHandler = (e) =&gt; {
        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะฟะพะทะธัะธั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ
        ยยdraggingEle.style.position = 'absolute';
        ยยdraggingEle.style.top = `${e.pageY - y}px`;
        ยยdraggingEle.style.left = `${e.pageX - x}px`;
        };

        /** ะะตัะตัะฐัะบะธะฒะฐะฝะธะต ะทะฐะบะพะฝัะธะปะพัั.
        ยย* ะฃะดะฐะปัะตะผ ััะธะปะธ ะฟะพะทะธัะธะพะฝะธัะพะฒะฐะฝะธั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะณะพ
        ยย* ัะปะตะผะตะฝัะฐ ะธ ัะปััะฐัะตะปะธ
        ยย*/
        const mouseUpHandler = () =&gt; {
        ยย// Remove the position styles
        ยยdraggingEle.style.removeProperty('top');
        ยยdraggingEle.style.removeProperty('left');
        ยยdraggingEle.style.removeProperty('position');

        ยยx = null;
        ยยy = null;
        ยยdraggingEle = null;

        ยย// ะฃะดะฐะปัะตะผ ัะปััะฐัะตะปะธ `mousemove` ะธ `mouseup`
        ยยdocument.removeEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.removeEventListener(
        ยยยย'mouseup', mouseUpHandler
        ยย);
        };

        /** ะะตัะตัะฐัะบะธะฒะฐะฝะธะต ะฝะฐัะธะฝะฐะตััั */
        const mouseDownHandler = (e) =&gt; {
        ยยdraggingEle = e.target;

        ยย// ะะฐัััะธััะฒะฐะตะผ ะฟะพะทะธัะธั ะบัััะพัะฐ
        ยยconst rect = draggingEle.getBoundingClientRect();
        ยยx = e.pageX - rect.left;
        ยยy = e.pageY - rect.top;

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปะธ ะฝะฐ ะดะพะบัะผะตะฝั
        ยยdocument.addEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.addEventListener('mouseup', mouseUpHandler);
        };

        /* ะขะตะฟะตัั ัััะฐะฝะพะฒะธะผ ัะปััะฐัะตะปะธ `mousedown`
        ะฝะฐ ะบะฐะถะดัะน ัะปะตะผะตะฝั ัะฟะธัะบะฐ */
        const listItems = document
        ยย.getElementById('list')
        ยย.querySelectorAll('.dragable');

        listItems.forEach((item) =&gt; {
        ยยitem.addEventListener('mousedown', mouseDownHandler);
        });
        </code>
      </pre>
      <h4>ะะพะฑะฐะฒะธะผ ะทะฐะณะปััะบั</h4>
      <p>ะะพ ะฒัะตะผั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั ัะฟะธัะบะฐ, ะผะตััะพ ัะปะตะผะตะฝัะฐ, ะธะทัััะพะณะพ ะธะท ะฟะพัะพะบะฐ, ัะผัะบะฐะตััั. ะะฐะฟัะธะผะตั, ะผะตััะพ ะฟะตัะตััะณะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ <code>C</code> ััะฐะทั ะถะต ะทะฐะนะผะตั ะตะณะพ ยซัะพัะตะด ัะฝะธะทัยป โ <code>D</code>. ะญัะพ ะผะพะถะตั ะฝะฐัััะธัั ัะฟะพะบะพะนััะฒะธะต ะฟะพะปัะทะพะฒะฐัะตะปั ะธ, ััะพะฑั ะฟัะตะดัะฟัะตะดะธัั ัะฐะบะธะต ัะดะฒะธะณะธ, ะฝะฐะดะพ ัะพะทะดะฐัั ะทะฐะณะปััะบั ัะพะน ะถะต ะฒััะพัั, ััะพ ะธ ะธะทััััะน ัะปะตะผะตะฝั.</p>
      <p>ะะฐะณะปััะบะฐ ัะพะทะดะฐะตััั ะฒ ะฝะฐัะฐะปะต ะฟะตัะตััะณะธะฒะฐะฝะธั.</p>
      <pre>
        <code class="language-javascript">let placeholder;
        let isDraggingStarted = false;

        const mouseMoveHandler = (e) =&gt; {
        ยยconst draggingRect =
        ยยยยdraggingEle.getBoundingClientRect();

        ยยif (!isDraggingStarted) {
        ยย// ะะฑะฝะพะฒะปัะตะผ ัะปะฐะณ
        ยยisDraggingStarted = true;

        ยย// ะกะพะทะดะฐะตะผ ะทะฐะณะปััะบั
        ยยplaceholder = document.createElement('div');
        ยยplaceholder.classList.add('placeholder');
        ยยdraggingEle.parentNode.insertBefore(
        ยยยยplaceholder,
        ยยยยdraggingEle.nextSibling
        ยย);

        ยย/* ะะฐะดะฐะตะผ ะฒััะพัั ะทะฐะณะปััะบะต โ ัะฐะบัั ะถะต,
        ยยะบะฐะบ ั ะธะทัััะพะณะพ ัะปะตะผะตะฝัะฐ */
        ยยplaceholder.style.height = `${draggingRect.height}px`;
        ยย}

        ยย// ...
        };
        </code>
      </pre>
      <p>ะะฐะณะปััะบะฐ ัะดะฐะปัะตััั, ะบะฐะบ ัะพะปัะบะพ ะฟะพะปัะทะพะฒะฐัะตะปั ะพัะฟัััะธั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั.</p>
      <pre>
        <code class="language-javascript">const mouseUpHandler = () =&gt; {
        ยย// ะฃะดะฐะปัะตะผ
        ยยplaceholder &amp;&amp;
        ยยยยplaceholder.parentNode.removeChild(placeholder);
        ยย
        ยย// ะะพัััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปะฐะณ
        ยยisDraggingStarted = false;

        ยย// ...
        };
        </code>
      </pre>
      <p>ะ ะธัะพะณะต ะฒ ะผะพะผะตะฝั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั ัะปะตะผะตะฝัะฐ <code>C</code> ัะทะปั ัะฟะธัะบะฐ ะฒ DOM ะฒััััะฐะธะฒะฐัััั ะฒ ัะฐะบัั ะฟะพัะปะตะดะพะฒะฐัะตะปัะฝะพััั:</p>
      <pre>
        <code class="language-txt">A
        B
        ยซะทะฐะณะปััะบะฐยป
        C โ ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั
        D
        E
        </code>
      </pre>
      <h4>ะะฟัะตะดะตะปัะตะผ ะบัะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตััะณะธะฒะฐะตั ัะปะตะผะตะฝั: ะฒะฒะตัั ะธะปะธ ะฒะฝะธะท</h4>
      <p>ะะพ-ะฟะตัะฒัั, ะฝะฐะผ ะฟะพััะตะฑัะตััั ะฒัะฟะพะผะพะณะฐัะตะปัะฝะฐั ััะฝะบัะธั, ะพะฟัะตะดะตะปัััะฐั ะฒ ะบะฐะบะพะผ ะฟะพะปะพะถะตะฝะธะธ ะฝะฐัะพะดะธััั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั ะฒ ัะตะบััะธะน ะผะพะผะตะฝั: ัะฒะตััั ะธะปะธ ัะฝะธะทั ัะบะฐะทะฐะฝะฝะพะณะพ ะฒ ะฟะฐัะฐะผะตััะต ัะพัะตะดะฐ.</p>
      <p>ะญะปะตะผะตะฝั <code>nodeA</code> ััะธัะฐะตััั ะฒััะต ัะปะตะผะตะฝัะฐ <code>nodeB</code>, ะตัะปะธ ะทะฝะฐัะตะฝะธะต ะฒะตััะธะบะฐะปัะฝะพะณะพ ัะตะฝััะฐ <code>nodeA</code> ะผะตะฝััะต ะฐะฝะฐะปะพะณะธัะฝะพะณะพ ะทะฝะฐัะตะฝะธั <code>nodeB</code>.</p>
      <p>ะะตััะธะบะฐะปัะฝัะน ัะตะฝัั ัะฐัััะธััะฒะฐะตััั ะบะฐะบ ััะผะผะฐ ะบะพะพัะดะธะฝะฐัั <code>top</code> ัะปะตะผะตะฝัะฐ ะธ ะฟะพะปะพะฒะธะฝั ะตะณะพ ะฒััะพัั.</p>
      <pre>
        <code class="language-javascript">const isAbove = (nodeA, nodeB) =&gt; {
        ยย// ะะพะปััะฐะตะผ ะณัะฐะฝะธัั ัะปะตะผะตะฝัะพะฒ
        ยยconst rectA = nodeA.getBoundingClientRect();
        ยยconst rectB = nodeB.getBoundingClientRect();

        ยยreturn (
        ยยยยrectA.top + rectA.height / 2 &lt;
        ยยยยrectB.top + rectB.height / 2
        ยย);
        };
        </code>
      </pre>
      <p>ะะฐะบ ัะพะปัะบะพ ะฟะพะปัะทะพะฒะฐัะตะปั ะฝะฐัะธะฝะฐะตั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธะต, ะผั ะพะฟัะตะดะตะปัะตะผ ัะพัะตะดะตะน ะฒัะฑัะฐะฝะฝะพะณะพ โ ัะฝะธะทั ะธ ัะฒะตััั.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย/* ะะพััะดะพะบ ัะปะตะผะตะฝัะพะฒ:
        ยยยยยprevEle
        ยยยยยdraggingEle
        ยยยยยplaceholder
        ยยยยยnextEle */
        ยยconst prevEle = draggingEle.previousElementSibling;
        ยยconst nextEle = placeholder.nextElementSibling;
        };
        </code>
      </pre>
      <p>ะัะปะธ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตัะฐัะบะธะฒะฐะตั ัะปะตะผะตะฝั ะฒะฒะตัั, ะผั ะผะตะฝัะตะผ ะผะตััะฐะผะธ ะทะฐะณะปััะบั ะธ ัะพัะตะดะฐ ัะฒะตััั.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย// ...

        ยย// ะะพะปัะทะพะฒะฐัะตะปั ัะฐัะธั ัะปะตะผะตะฝั ะฒะฒะตัั
        ยยif (prevEle &amp;&amp; isAbove(draggingEle, prevEle)) {
        ยยยย/* ะะทะผะตะฝะตะฝะธะต ะฟะพััะดะบะฐ: ะธััะพะดะฝัะน -&gt; ะฝะพะฒัะน
        ยยยยยยยprevEleยยยยยยยยยยยยยยยยยยยยย-&gt; placeholder
        ยยยยยยยdraggingEleยยยยยยยยยยยยยยยยย-&gt; draggingEle
        ยยยยยยยplaceholderยยยยยยยยยยยยยยยยย-&gt; prevEle */
        ยยยยswap(placeholder, draggingEle);
        ยยยยswap(placeholder, prevEle);
        ยย}
        };
        </code>
      </pre>
      <p>ะัะปะธ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตัะฐัะบะธะฒะฐะตั ัะปะตะผะตะฝั ะฒะฝะธะท, ะผั ะผะตะฝัะตะผ ะผะตััะฐะผะธ ะทะฐะณะปััะบั ะธ ัะพัะตะดะฐ ัะฝะธะทั.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย// ...

        ยย// User moves the dragging element to the bottom
        ยยif (nextEle &amp;&amp; isAbove(nextEle, draggingEle)) {
        ยยยย/* ะะทะผะตะฝะตะฝะธะต ะฟะพััะดะบะฐ: ะธััะพะดะฝัะน -&gt; ะฝะพะฒัะน
        ยยยยยยยdraggingEleยยยยยยยยยยยยยยยยย-&gt; nextEle
        ยยยยยยยplaceholderยยยยยยยยยยยยยยยยย-&gt; placeholder
        ยยยยยยยnextEleยยยยยยยยยยยยยยยยยยยยย-&gt; draggingEle */
        ยยยยswap(nextEle, placeholder);
        ยยยยswap(nextEle, draggingEle);
        ยย}
        };
        </code>
      </pre>
      <p>ะะพะปะฝะฐั ััะฝะบัะธั ะดะปั ะธะทะผะตะฝะตะฝะธั ะฟะพััะดะบะฐ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ:</p>
      <pre>
        <code class="language-javascript">const swap = (nodeA, nodeB) =&gt; {
        ยยconst parentA = nodeA.parentNode;
        ยยconst siblingA =
        ยยยยnodeA.nextSibling === nodeB
        ยยยยยย? nodeA
        ยยยยยย: nodeA.nextSibling;

        ยย// ะะพะดะฝะธะผะฐะตะผ `nodeA` ะฒััะต `nodeB`
        ยยnodeB.parentNode.insertBefore(nodeA, nodeB);

        ยย/* ะะพะดะฝะธะผะฐะตะผ `nodeB` ะฒััะต ัะพัะตะดะฐ ัะปะตะผะตะฝัะฐ `nodeA`
        ยยะฒะตััะฝะตะณะพ ะธะปะธ ะฝะธะถะฝะตะณะพ ะพะฟัะตะดะตะปัะตััั ะฒ ัะตัะฝะฐัะฝะพะผ
        ยยะพะฟะตัะฐัะพัะต ะฒััะต */
        ยยparentA.insertBefore(nodeB, siblingA);
        };
        </code>
      </pre>
      <p>ะะตะผะพ-ะฒะธะดะถะตั ะธ ะฟะพะปะฝัะน ะบะพะด ะผะพะถะฝะพ ะฟะพัะผะพััะตัั ะฝะฐ <a href="https://htmldom.dev/drag-and-drop-element-in-a-list/" target="_blank" rel="noopener noreferrer">HTML DOM</a></p>


    </div>
  </details>

  {# Show a custom context menu at clicked position #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะพะปัะทะพะฒะฐัะตะปััะบะพะต ะบะพะฝัะตะบััะฝะพะต ะผะตะฝั ะฝะฐ ะะะ</h3>
    </summary>
    <div class="accordion__body">
      <pre>
        <code class="language-html">&lt;div class=&quot;is-relative&quot;&gt;
        ยย&lt;div id=&quot;element&quot;&gt;
        ยยยยะะปะธะบะฝะธ ะฟัะฐะฒะพะน ะบะฝะพะฟะบะพะน ะผััะธ (ะะะ)
        ยย&lt;/div&gt;
        ยย&lt;ul class=&quot;menu is-context&quot; role=&quot;menu&quot; id=&quot;menu&quot;&gt;
        ยยยย...
        ยย&lt;/ul&gt;
        &lt;/div&gt;
        </code>
      </pre>
      <h4>ะัะตะดะพัะฒัะฐัะฐะตะผ ะฒัะทะพะฒ ััะฐะฝะดะฐััะฝะพะณะพ ะบะพะฝัะตะบััะฝะพะณะพ ะผะตะฝั</h4>
      <pre>
        <code class="language-javascript">const ele = document.getElementById('element');
        ele.addEventListener('contextmenu', (e) =&gt; {
        ยยe.preventDefault();
        });
        </code>
      </pre>
      <h4>ะะพะบะฐะทัะฒะฐะตะผ ะฟะพะปัะทะพะฒะฐัะตะปััะบะพะต ะผะตะฝั ะฒ ะพะฑะปะฐััะธ ะบะปะธะบะฐ</h4>
      <p>ะงัะพะฑั ะฟะพะปััะธัั ะบะพะพัะดะธะฝะฐัั ะผะตะฝั, ะพะฝะพ ะดะพะปะถะฝะพ ะฑััั ะฐะฑัะพะปััะฝะพ ะฟะพะทะธัะธะพะฝะธัะพะฒะฐะฝะพ ะพัะฝะพัะธัะตะปัะฝะพ ัะฒะพะตะณะพ ะบะพะฝัะตะนะฝะตัะฐ. ะะพััะพะผั ะฒ ัะฐะทะผะตัะบะต ะดะพะฑะฐะฒะปะตะฝะฐ ยซะพะฑัััะบะฐยป <code>.is-relative</code>.</p>
      <pre>
        <code class="language-scss">.is-relative {
          ยยposition: relative;
          }

          .menu.is-context {
          ยย// ะกะบัััะพ ะฟะพ ัะผะพะปัะฐะฝะธั
          ยยdisplay: none;
          ยยposition: absolute;

          ยย&amp;.is-on {
          ยยยยdisplay: block;
          ยย}
          }
        </code>
      </pre>
      <p>ะะฐัััะธััะฒะฐะตะผ ะฟะพะทะธัะธั ะผะตะฝั ะฟะพ ะฟะพะทะธัะธะธ ะผััะบะธ.</p>
      <pre>
        <code class="language-javascript">ele.addEventListener('contextmenu', (e) =&gt; {
          ยยconst rect = ele.getBoundingClientRect();
          ยยconst x = e.clientX - rect.left;
          ยยconst y = e.clientY - rect.top;

          ยย// ะะฐะดะฐะตะผ ะบะพะพัะดะธะฝะฐัั
          ยยmenu.style.top = `${y}px`;
          ยยmenu.style.left = `${x}px`;

          ยย// ะะพะบะฐะทัะฒะฐะตะผ ะผะตะฝั
          ยยmenu.classList.add('is-on');
          });
        </code>
      </pre>
      <h4>ะะฐะบััะฒะฐะตะผ ะผะตะฝั ะฟะพ ะบะปะธะบั ะทะฐ ะตะณะพ ะฟัะตะดะตะปะฐะผะธ</h4>
      <pre>
        <code class="language-javascript">ele.addEventListener('contextmenu', (e) =&gt; {
          ยย/* ...
          ยยะะพะฑะฐะฒะปัะตะผ ะฒะปะพะถะตะฝะฝัะน ัะปััะฐัะตะปั */
          ยยdocument.addEventListener('click', docClickHandler);
          });

          /** ะัััะตะผ ะผะตะฝั ะฝะฐ ะบะปะธะบะต ะทะฐ ะตะณะพ ะฟัะตะดะตะปะฐะผะธ */
          const docClickHandler = (e) =&gt; {
          ยยconst isClickedOutside = !menu.contains(e.target);
          ยยif (isClickedOutside) {
          ยยยยmenu.classList.remove('is-on');

          ยยยย// ะฃะดะฐะปัะตะผ ะพะฑัะฐะฑะพััะธะบ
          ยยยยdocument.removeEventListener(
          ยยยยยย'click', docClickHandler
          ยยยย);
          ยย}
          };
        </code>
      </pre>
      <p>ะะฑัะฐะฑะพััะธะบ ะบะปะธะบะฐ ัะดะฐะปัะตััั ัะพ ัััะฐะฝะธัั ะฒะผะตััะต ั ะผะตะฝั, ัะฐะบ ะบะฐะบ ะพะฝ ะฝะต ะฝัะถะตะฝ, ะฟะพะบะฐ ะผะตะฝั ัะบัััะพ.</p>
    </div>
  </details>

  {# Create resizable split views #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะฐัััะฐะฑะธััะตะผะพะต ัะฐะทะดะตะปะตะฝะฝะพะต ะฟัะตะดััะฐะฒะปะตะฝะธะต (split view)</h3>
    </summary>
    <div class="accordion__body">
      <p>ะััะพะดะฝะฐั ัะฐะทะผะตัะบะฐ.</p>
      <pre>
        <code class="language-html">&lt;div style=&quot;display: flex&quot;&gt;
        ยย&lt;div class=&quot;left&quot;&gt;Left&lt;/div&gt;

        ยย&lt;!-- The resizer --&gt;
        ยย&lt;div class=&quot;resizer&quot; id=&quot;dragMe&quot;&gt;&lt;/div&gt;

        ยย&lt;div class=&quot;right&quot;&gt;Right&lt;/div&gt;
        &lt;/div&gt;
        </code>
      </pre>
      <h4>ะะฑะฝะพะฒะปะตะฝะธะต ัะธัะธะฝั ัะตััะตะน split-ะฟัะตะดััะฐะฒะปะตะฝะธั</h4>
      <p>ะ ัะพะผ, ะบะฐะบ ะดะตะปะฐัั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั, <a href="#topic-draggable-base">ัะผ. ะทะดะตัั</a>.</p>
      <p>ะ ะฝะฐัะตะผ ัะปััะฐะต ัััะบะฐ ะผะฐัััะฐะฑะธัะพะฒะฐะฝะธั ะฑัะดะตั ะดะฒะธะณะฐัััั ัะพะปัะบะพ ะฟะพ ะณะพัะธะทะพะฝัะฐะปะธ. ะกะฝะฐัะฐะปะฐ ะฝะฐะผ ะฝะฐะดะพ ะฟะพะปััะธัั ะฟะพะทะธัะธั ะผััะธ ะธ ัะธัะธะฝั ะปะตะฒะพะน ัะฐััะธ split-ะฟัะตะดััะฐะฒะปะตะฝะธั ะดะพ ะผะฐัััะฐะฑะธัะพะฒะฐะฝะธั.</p>
      <pre>
        <code class="language-javascript">const resizer = document.getElementById('dragMe');
        const leftSide = resizer.previousElementSibling;
        const rightSide = resizer.nextElementSibling;

        // ะะพะทะธัะธั ะผััะธ
        let x = 0;
        let y = 0;

        // ะจะธัะธะฝะฐ ะปะตะฒะพะน ัะฐััะธ
        let leftWidth = 0;

        /** ะะฑัะฐะฑะพัะบะฐ ะฟะตัะตััะณะธะฒะฐะฝะธั ะผัััั */
        const mouseDownHandler = (e) =&gt; {
        ยย// ะขะตะบััะฐั ะฟะพะทะธัะธั ะผััะธ
        ยยx = e.clientX;
        ยยy = e.clientY;

        ยยleftWidth = leftSide.getBoundingClientRect().width;

        ยย// ะะพะฑะฐะฒะปัะตะผ ะฒะปะพะถะตะฝะฝัะต ะพะฑัะฐะฑะพััะธะบะธ
        ยยdocument.addEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.addEventListener('mouseup', mouseUpHandler);
        };

        // ะะฐะทะฝะฐัะฐะตะผ ะฟะตัะฒัะน ะพะฑัะฐะฑะพััะธะบ
        resizer.addEventListener('mousedown', mouseDownHandler);
        </code>
      </pre>
      <p>ะัะปะธ ะฒะตัะฝััััั ะบ ัะฐะทะผะตัะบะต, ะพะฑะฝะฐััะถะธะผ, ััะพ ะปะตะฒะฐั ะธ ะฟัะฐะฒะฐั ัะฐััั ะฟัะตะดััะฐะฒะปะตะฝะธั ัะฒะปััััั ะฟัะตะดัะดััะธะผ ะธ ัะปะตะดัััะธะผ ยซัะพัะตะดัะผะธยป ัััะบะธ ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั. ะกะปะตะดะพะฒะฐัะตะปัะฝะพ, ะฒัะฑะธัะฐะตะผ ะธั ะฒะพั ัะฐะบะธะผ ะพะฑัะฐะทะพะผ:</p>
      <pre>
        <code class="language-javascript">const leftSide = resizer.previousElementSibling;
        const rightSide = resizer.nextElementSibling;
        </code>
      </pre>
      <p>ะะฐะปะตะต. ะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะดะฒะธะณะฐะตั ะผัััั, ะผั ะพะฟัะตะดะตะปัะตะผ โ ะบะฐะบ ะดะฐะปะตะบะพ โ ะธ, ัะพะพัะฒะตัััะฒะตะฝะฝะพ, ะพะฑะฝะพะฒะปัะตะผ ัะธัะธะฝั ะปะตะฒะพะน ัะฐััะธ ะฟัะตะดััะฐะฒะปะตะฝะธั.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย// ะะฐะบ ะดะฐะปะตะบะพ ัะผะตััะธะปะฐัั ะผััั
        ยยconst dx = e.clientX - x;
        ยยconst dy = e.clientY - y;

        ยยconst newLeftWidth =
        ยยยย((leftWidth + dx) * 100) /
        ยยยยresizer.parentNode.getBoundingClientRect().width;
        ยยleftSide.style.width = `${newLeftWidth}%`;
        };
        </code>
      </pre>
      <p>ะะตะฝัั ัะธัะธะฝั ะปะตะฒะพะน ัะฐััะธ ะฟัะตะดััะฐะฒะปะตะฝะธั, ัััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะฝะพะฒะพะต ะทะฝะฐัะตะฝะธะต ะฒ ะฟัะพัะตะฝัะฐั (ะพั ัะพะดะธัะตะปััะบะพะณะพ ัะปะตะผะตะฝัะฐ). ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะดะปั ะฟัะฐะฒะพะน ัะฐััะธ CSS-ัะฒะพะนััะฒะพ <code>flex: 1 1 0</code> ะธ ะพะฝะฐ ะฑัะดะตั ะทะฐะฝะธะผะฐัั ะฒัั ะพััะฐะฒัะตะตัั ะผะตััะพ โ ะฝะต ะฝัะถะฝะพ ัะฐัััะธััะฒะฐัั ัะธัะธะฝั ะฒ JS.</p>
      <pre>
        <code class="language-css">.right { flex: 1 1 0;}</code>
      </pre>
      <h4>ะัะฟัะฐะฒะปัะตะผ ะผะธะณะฐะฝะธะต ะบัััะพัะฐ</h4>
      <p>ะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตัะฐัะบะธะฒะฐะตั ัััะบั, ะผั ะดะพะปะถะฝั ะฟะพะผะตะฝััั ะบัััะพั.</p>
      <p>ะะพ ะตัะปะธ ะผั ะธะทะผะตะฝะธะผ ะตะณะพ ัะพะปัะบะพ ั ัััะบะธ, ัะพ ะพะฑะฝะฐััะถะธะผ, ััะพ ะพะฝ ะฟัะธ ะฟะตัะตััะณะธะฒะฐะฝะธะธ ะฟะพััะพัะฝะฝะพ ะผะตะฝัะตััั: ัะพ ะฝัะถะฝัะน, ัะพ ะพะฑััะฝะฐั ัััะตะปะบะฐ. ะญัะพ ะฟัะพะธััะพะดะธั ะฟะพัะพะผั, ััะพ ะฟะพะด ะผััั ะฟะพะฟะฐะดะฐัั ะธ ะดััะณะธะต ัะปะตะผะตะฝัั, ะฐ ะฝะต ัะพะปัะบะพ <code>resizer</code>.</p>
      <p>ะงัะพะฑั ะธัะฟัะฐะฒะธัั ยซะฑะฐะณยป, ัะปะตะดัะตั ะฝะฐ ะผะพะผะตะฝั ะฟะตัะตััะณะธะฒะฐะฝะธั ะฟะพะผะตะฝััั ะบัััะพั ะฝะต ัะพะปัะบะพ ะดะปั ัััะบะธ, ะฝะพ ะธ ะดะปั ะฒัะตะณะพ ะดะพะบัะผะตะฝัะฐ.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย// ...
        ยยresizer.style.cursor = 'col-resize';
        ยยdocument.body.style.cursor = 'col-resize';
        };
        </code>
      </pre>
      <p>ะขะฐะบะถะต ะฝะฐ ะผะพะผะตะฝั ะฟะตัะตััะณะธะฒะฐะฝะธั ะฝัะถะฝะพ ะฟัะตะดะพัะฒัะฐัะธัั ััะฐะฑะฐััะฒะฐะฝะธะต ัะพะฑััะธะน ะธ ะฒัะดะตะปะตะฝะธะต ัะตะบััะฐ ะฒ ะพะฑะพะธั ัะฐัััั split-ะฟัะตะดััะฐะฒะปะตะฝะธั. ะะปั ััะพะณะพ ะธัะฟะพะปัะทัะตะผ CSS-ัะฒะพะนััะฒะฐ <code>user-select</code> ะธ <code>pointer-events</code>.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
          // ...
        ยยleftSide.style.userSelect = 'none';
        ยยleftSide.style.pointerEvents = 'none';
        ยย
        ยยrightSide.style.userSelect = 'none';
        ยยrightSide.style.pointerEvents = 'none';
        };
        </code>
      </pre>
      <p>ะกัะธะปะธ ะฑัะดัั ัะดะฐะปะตะฝั ััะฐะทั ะฟะพัะปะต ะพะบะพะฝัะฐะฝะธั ะฟะตัะตััะณะธะฒะฐะฝะธั.</p>
      <pre>
        <code class="language-javascript">const mouseUpHandler = () =&gt; {
        ยยresizer.style.removeProperty('cursor');
        ยยdocument.body.style.removeProperty('cursor');

        ยยleftSide.style.removeProperty('user-select');
        ยยleftSide.style.removeProperty('pointer-events');

        ยยrightSide.style.removeProperty('user-select');
        ยยrightSide.style.removeProperty('pointer-events');

        ยย// ะฃะดะฐะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ
        ยยdocument.removeEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.removeEventListener(
        ยยยย'mouseup', mouseUpHandler
        ยย);
        };
        </code>
      </pre>
      <h4>ะะตัะตััะณะธะฒะฐะฝะธะต ะฟะพ ะฒะตััะธะบะฐะปะธ</h4>
      <p>ะะผะตััะพ ัะพะณะพ, ััะพะฑั ะพะฑะฝะพะฒะปััั ะทะฝะฐัะตะฝะธะต ัะธัะธะฝั ะปะตะฒะพะน ัะฐััะธ ะฟัะตะดััะฐะฒะปะตะฝะธั, ะฑัะดะตะผ ะพะฑะฝะพะฒะปััั ะฒััะพัั ะฒะตััะฝะตะน ัะฐััะธ.</p>
      <pre>
        <code class="language-javascript">const prevSibling = resizer.previousElementSibling;
        let prevSiblingHeight = 0;

        const mouseDownHandler = function (e) {
        ยยconst rect = prevSibling.getBoundingClientRect();
        ยยprevSiblingHeight = rect.height;
        };

        const mouseMoveHandler = function (e) {
        ยยconst h =
        ยยยย((prevSiblingHeight + dy) * 100) /
        ยยยยresizer.parentNode.getBoundingClientRect().height;
        ยยprevSibling.style.height = `${h}%`;
        };
        </code>
      </pre>
      <p>ะขะฐะบะถะต ะฟะพะผะตะฝัะตะผ ะบัััะพั ะฝะฐ <code>row-resize</code>.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) => {
        ยย//...
        ยยresizer.style.cursor = 'row-resize';
        ยยdocument.body.style.cursor = 'row-resize';
        };
        </code>
      </pre>
      <h4>ะะปะพะถะตะฝะฝัะต split-ะฟัะตะดััะฐะฒะปะตะฝะธั</h4>
      <p>ะะพะฟัััะธะผ, ััะพ ะฝะฐะผ ะฝัะถะฝะพ ะดะพะฑะฐะฒะธัั ะฒ ะฟัะฐะฒัั ัะฐััั ะณะพัะธะทะพะฝัะฐะปัะฝะพะณะพ split-ะฟัะตะดััะฐะฒะปะตะฝะธั ะฒะตััะธะบะฐะปัะฝะพะต โ ะบะฐะบ ะฒ VSCode, ะตัะปะธ ะฒัะฑัะฐัั View โ Editor Layout โ Two Rows.</p>
      <p>ะฃ ะฝะฐั ะฑัะดะตั ะดะฒะต ัััะบะธ ะฟะตัะตััะณะธะฒะฐะฝะธั. ะงัะพะฑั ะฒัะฑะธัะฐัั ะพะดะฝั ะธะท ะฝะธั, ะดะพะฑะฐะฒะธะผ <code>data</code>-ะฐััะธะฑััั.</p>
      <pre>
        <code class="language-html">&lt;style&gt;
        ยย.right {
        ยยยยdisplay: flex;
        ยยยยflex: 1 1 0;
        ยยยยflex-direction: column;
        ยย}
        &lt;/style&gt;
        &lt;div style=&quot;display: flex&quot;&gt;
        ยย&lt;div class=&quot;left&quot;&gt;Left&lt;/div&gt;
        ยย&lt;div class=&quot;resizer&quot; data-direction=&quot;horizontal&quot;&gt;&lt;/div&gt;

        ยย&lt;div class=&quot;right&quot;&gt;
        ยยยย&lt;div&gt;Top&lt;/div&gt;
        ยยยย&lt;div class=&quot;resizer&quot; data-direction=&quot;vertical&quot;&gt;&lt;/div&gt;
        ยยยย&lt;div style=&quot;flex: 1 1 0%&quot;&gt;Bottom&lt;/div&gt;
        ยย&lt;/div&gt;
        &lt;/div&gt;
        </code>
      </pre>
      <p>ะขะตะฟะตัั ะผั ะผะพะถะตะผ ะฟะพะปััะฐัั ะฝะฐะฟัะฐะฒะปะตะฝะธะต ะฟะตัะตััะณะธะฒะฐะฝะธั.</p>
      <pre>
        <code class="language-javascript">const direction =
        ยยresizer.getAttribute('data-direction') ||
        ยย'horizontal';
        </code>
      </pre>
      <p>The logic of setting the width or height of previous sibling depends on the direction:</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยยswitch (direction) {
        ยยยยcase 'vertical':
        ยยยยยยconst h =
        ยยยยยยยย((prevSiblingHeight + dy) * 100) /
        ยยยยยยยยresizer.parentNode.getBoundingClientRect().height;
        ยยยยยยprevSibling.style.height = `${h}%`;
        ยยยยยยbreak;
        ยยยยcase 'horizontal':
        ยยยยdefault:
        ยยยยยยconst w =
        ยยยยยยยย((prevSiblingWidth + dx) * 100) /
        ยยยยยยยยresizer.parentNode.getBoundingClientRect().width;
        ยยยยยยprevSibling.style.width = `${w}%`;
        ยยยยยยbreak;
        ยย}

        ยยconst cursor = direction === 'horizontal'
        ยยยย? 'col-resize'
        ยยยย: 'row-resize';
        ยยresizer.style.cursor = cursor;
        ยยdocument.body.style.cursor = cursor;

        ยย// ...
        };
        </code>
      </pre>
      <p>ะะตะผะพ-ะฒะธะดะถะตัั ะผะพะถะฝะพ ะฟะพัะผะพััะตัั ะฝะฐ <a href="https://htmldom.dev/make-a-draggable-element/" target="_blank" rel="noopener noreferrer">HTML DOM</a>.</p>

    </div>
  </details>

  {# Drag to scroll #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3 id="topic-drag-to-scroll">ะัะพะบัััะบะฐ ะฟะตัะตััะณะธะฒะฐะฝะธะตะผ</h3>
    </summary>
    <div class="accordion__body">
      <p>ะัะพะผะต ััะฐะดะธัะธะพะฝะฝะพะน ะฟัะพะบัััะบะธ ะฝะตะบะพัะพััะต ะฟัะธะปะพะถะตะฝะธั ะฟัะตะดะปะฐะณะฐัั ะฟัะพะบัััะบั ะฟะตัะตััะณะธะฒะฐะฝะธะตะผ โ ะฝะฐะฟัะธะผะตั, ะฟะตัะตะดะฒะธะถะตะฝะธะต ัะพะปััะฐ ะฒ Photoshop ะธ Figma ั ะทะฐะถะฐััะผ ะฟัะพะฑะตะปะพะผ.</p>
      <p>ะะฐะทะผะตัะบะฐ ะธ ััะธะปะธ.</p>
      <pre>
        <code class="language-html">&lt;style&gt;
        ยย.container {
        ยยยยcursor: grab;
        ยยยยoverflow: auto;
        ยย}
        &lt;/style&gt;

        &lt;div id=&quot;container&quot; class=&quot;container&quot;&gt;...&lt;/div&gt;
        </code>
      </pre>
      <h4>ะัะพะบัััะบะฐ ะฒ ัะบะฐะทะฐะฝะฝะพะต ะฟะพะปะพะถะตะฝะธะต</h4>
      <p>ะะพัะบะพะปัะบั ะฑะปะฐะณะพะดะฐัั <code>overflow: auto;</code> ัะพะดะตัะถะฐะฝะธะต ะบะพะฝัะตะนะฝะตัะฐ ััะฐะฝะพะฒะธััั ะฟัะพะบัััะธะฒะฐะตะผัะผ, ะผั ะผะพะถะตะผ ะฟัะพะบัััะธัั ะตะณะพ ะดะพ ัะบะฐะทะฐะฝะฝะพะน ัะพัะบะธ ั ะฟะพะผะพััั ัะฒะพะนััะฒ <code>scrollTop</code> ะธ <code>scrollLeft</code>.</p>
      <pre>
        <code class="language-javascript">const ele = document.getElementById('container');
        ele.scrollTop = 100;
        ele.scrollLeft = 150;
        </code>
      </pre>
      <h3>ะขะตะฟะตัั ัะพ ะถะต ัะฐะผะพะต โ ะฟะตัะตััะณะธะฒะฐะฝะธะตะผ</h3>
      <p>ะัะฟะพะปัะทัะตะผ ัะตัะฝะธะบั, ะพะฟะธัะฐะฝะฝัั ะฒ ัะฐะทะดะตะปะต ยซ<a href="#topic-draggable-base">ะะตัะตััะณะธะฒะฐะตะผัะน ัะปะตะผะตะฝั</a>ยป.</p>
      <pre>
        <code class="language-javascript">let pos = { top: 0, left: 0, x: 0, y: 0 };

        const mouseDownHandler = (e) =&gt; {
        ยยpos = {
        ยยยย// ะขะตะบััะตะต ะฟะพะปะพะถะตะฝะธะต ะฟัะพะบัััะบะธ
        ยยยยleft: ele.scrollLeft,
        ยยยยtop: ele.scrollTop,
        ยยยย// ะะพะปััะธัั ะฟะพะปะพะถะตะฝะธะต ะผััะธ
        ยยยยx: e.clientX,
        ยยยยy: e.clientY,
        ยย};

        ยยdocument.addEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.addEventListener('mouseup', mouseUpHandler);
        };
        </code>
      </pre>
      <p>ะ ะพะฑัะตะบัะต <code>pos</code> ัะพััะฐะฝััััั ะฟะพะปะพะถะตะฝะธะต ะบัััะพัะฐ ะธ ะฟัะพะบัััะบะธ. (ะะฑัะตะบั, ะบััะฐัะธ, ะฟัะตะดะฟะพััะธัะตะปัะฝะตะน ัะตัััะตั ะฟะตัะตะผะตะฝะฝัั, ัะฐะบ ะบะฐะบ ะพะฑัะตะดะธะฝัะตั ะปะพะณะธัะตัะบะธ ัะฒัะทะฐะฝะฝัะต ะทะฝะฐัะตะฝะธั).</p>
      <p>ะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตะดะฒะธะณะฐะตั ะผััั, ะผั ะทะฐะผะตััะตะผ, ะฝะฐัะบะพะปัะบะพ ะดะฐะปะตะบะพ, ะธ ะทะฐัะตะผ ะฟัะพะบัััะธะฒะฐะตะผ ัะพะดะตัะถะธะผะพะต ะฒ ัั ะถะต ัะพัะบั.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
        ยย// ะะฐะบ ะดะฐะปะตะบะพ ะฟะตัะตะผะตัะตะฝ ะบัััะพั
        ยยconst dx = e.clientX - pos.x;
        ยยconst dy = e.clientY - pos.y;

        ยย// ะัะพะบัััะธะฒะฐะตะผ ัะปะตะผะตะฝั
        ยยele.scrollTop = pos.top - dy;
        ยยele.scrollLeft = pos.left - dx;
        };
        </code>
      </pre>
      <p>ะะฟัั ะฒะทะฐะธะผะพะดะตะนััะฒะธั ะฒ ะฟัะพัะตััะต ะฟะตัะตััะณะธะฒะฐะฝะธั ะผะพะถะตั ะฑััั ัะปัััะตะฝ, ั ะฟะพะผะพััั ะฟะฐัั CSS-ัะฒะพะนััะฒ.</p>
      <pre>
        <code class="language-javascript">const mouseDownHandler = (e) =&gt; {
        ยย// Change the cursor and prevent user from selecting the text
        ยยele.style.cursor = 'grabbing';
        ยยele.style.userSelect = 'none';
        ยย// ...
        };

        /** ะะพ ะพะบะพะฝัะฐะฝะธะธ ะฟะตัะตััะณะธะฒะฐะฝะธั */
        const mouseUpHandler = () =&gt; {
        ยยdocument.removeEventListener('mousemove', mouseMoveHandler);
        ยยdocument.removeEventListener('mouseup', mouseUpHandler);

        ยย// ะะตะฝัะตะผ ะบัััะพั ะธ ัะฐะทัะตัะฐะตะผ ะฒัะดะตะปะตะฝะธะต
        ยยele.style.cursor = 'grab';
        ยยele.style.removeProperty('user-select');
        };
        </code>
      </pre>

    </div>
  </details>

  {# Drag and drop table row #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะตัะตััะณะธะฒะฐะฝะธะต ัััะพะบะธ ะฒ ัะฐะฑะปะธัะต</h3>
    </summary>
    <div class="accordion__body">
      <p>ะขะตัะฝะธะบะฐ ะพัะฝะพะฒะฐะฝะฐ ะฝะฐ <a href="#topic-dnd-li">ะฟะตัะตััะณะธะฒะฐะฝะธะธ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ</a>. ะะดะตั ะทะฐะบะปััะฐะตััั ะฒ ัะพะผ, ััะพะฑั ัะพะทะดะฐะฒะฐัั ะดัะฑะปะธะบะฐั ัััะพะบ ัะฐะฑะปะธัั ะฒ ะฒะธะดะต ัะฟะธัะบะฐ โ ะบะฐะบ ัะพะปัะบะพ ะฟะพะปัะทะพะฒะฐัะตะปั ะฝะฐัะธะฝะฐะตั ััะฝััั. ะะฐ ะฒัะตะผั ะฟะตัะตััะณะธะฒะฐะฝะธั ะผั ะฟะพะบะฐะทัะฒะฐะตะผ ัะพะปัะบะพ ััะพั ัะฟะธัะพะบ (ะบะฐะถะดัะน ัะปะตะผะตะฝั โ ะบะปะพะฝ ัััะพะบะธ), ะฐ ัะฐะฑะปะธัั ะฟัััะตะผ.</p>
      <p>ะขะฐะบะถะต ะฒะพ ะฒัะตะผั ะฟะตัะตััะณะธะฒะฐะฝะธั ะผั ะพะฟัะตะดะตะปัะตะผ ะฟะพััะดะบะพะฒัะน ะฝะพะผะตั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ ัะฟะธัะบะฐ. ะ ะฟะตัะตะฝะพัะธะผ ัะพะพัะฒะตัััะฒััััั ัััะพะบั ะธััะพะดะฝะพะน ัะฐะฑะปะธัั ะดะพ ะธะปะธ ะฟะพัะปะต ยซัััะพะบะธ ะฝะฐะทะฝะฐัะตะฝะธัยป.</p>
      <h4>ะะฑัะฐะฑะพััะธะบะธ ัะพะฑััะธะน</h4>
      <p>ะะฐะบ ะฝะฐะผ ะธะทะฒะตััะฝะพ ะธะท ัะฐะทะดะตะปะฐ ะพ <a href="#topic-dnd-li">ะฟะตัะตััะณะธะฒะฐะฝะธะธ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ</a>, ะฟะตัะฒัะผ ะดะตะปะพะผ ะฝะฐะดะพ ัะพะทะดะฐัั ะพะฑัะฐะฑะพััะธะบะธ ะดะปั ัััั ัะพะฑััะธะน.</p>
      <ul>
      <li><code>mousedown</code> โ ะดะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบ ะฝะฐ ะฟะตัะฒัะต ััะตะนะบะธ ัััะพะบ.</li>
      <li><code>mousemove</code> - ะดะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบ ะฝะฐ ะดะพะบัะผะตะฝั ะธ ัะพะดะตัะถะธั ะบะพะด ัะพะทะดะฐะฝะธั ะธ ะฒััะฐะฒะบะธ ยซะทะฐะณะปััะบะธยป ะฝะฐ ะฒัะตะผั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั.</li>
      <li><code>mouseup</code> โ ัะพะฑััะธะต ะพะบะพะฝัะฐะฝะธั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั.</li>
      </ul>
      <pre>
        <code class="language-html">&lt;table id=&quot;table&quot;&gt;
            ...
        &lt;/table&gt;

        &lt;script&gt;
          const table = document.getElementById('table');

        const mouseMoveHandler = (e) =&gt; {
        ยย// ...
        };

        const mouseUpHandler =ยย() =&gt; {
        ยย// ...
        ยย// ะฃะดะฐะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ `mousemove` ะธ `mouseup`
        ยยdocument.removeEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.removeEventListener(
        ยยยย'mouseup', mouseUpHandler
        ยย);
        };

        const mouseDownHandler = (e) =&gt; {
        ยย// ...

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปะธ
        ยยdocument.addEventListener(
        ยยยย'mousemove', mouseMoveHandler
        ยย);
        ยยdocument.addEventListener(
        ยยยย'mouseup', mouseUpHandler
        ยย);
        };

        // ะะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ ะฝะฐัะฐะปะฐ ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั
        table.querySelectorAll('tr').forEach((row, index) =&gt; {
        ยย// ะะณะฝะพัะธััะตะผ ะฟะตัะฒัั ัััะพะบั โ ัะฐะบัะธัะตัะบะธะน thead.
        ยยif (index === 0) {
        ยยยยreturn;
        ยย}

        ยย// ะะตัะฒะฐั ััะตะนะบะฐ ัััะพะบะธ
        ยยconst firstCell = row.firstElementChild;
        ยยfirstCell.classList.add('draggable');

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปะธ
        ยยfirstCell.addEventListener('mousedown', mouseDownHandler);
        });
        &lt;/script&gt;

        #### ะะปะพะฝะธััะตะผ ัะฐะฑะปะธัั, ะบะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ัะฐัะธั ัััะพะบั

        ะะพ-ะฟะตัะฒัั, ะฝะฐะผ ะฝัะถะตะฝ ัะปะฐะณ, ััะพะฑั ะฟะพะผะตัะฐัั, ะบะพะณะดะฐ ะฟัะพะธััะพะดะธั ะฟะตัะตััะณะธะฒะฐะฝะธะต.

        ```javascript
        let isDraggingStarted = false;

        const mouseMoveHandler = (e) =&gt; {
        ยยif (!isDraggingStarted) {
        ยยยยisDraggingStarted = true;

        ยยยยcloneTable();
        ยย}
        ยย// ...
        };
        </code>
      </pre>
      <p>ะคัะฝะบัะธั cloneTable ัะพะทะดะฐะตั ะบะปะพะฝ ัะฐะฑะปะธัั ะธ ะฟะพะบะฐะทัะฒะฐะตั ะตะณะพ ะฒะผะตััะพ ัะฐะฑะปะธัั.</p>
      <pre>
        <code class="language-javascript">let list;

        const cloneTable = () =&gt; {
        ยย// ะะพะปััะฐะตะผ ะณัะฐะฝะธัั ัะฐะฑะปะธัั
        ยยconst rect = table.getBoundingClientRect();

        ยย// ะะพะปััะฐะตะผ ัะธัะธะฝั ัะฐะฑะปะธัั
        ยยconst width = parseInt(
        ยยยยwindow.getComputedStyle(table).width, 10
        ยย);

        ยย// ะกะพะทะดะฐะตะผ ะฟัะตะฒะดะพัะฟะธัะพะบ
        ยยlist = document.createElement('div');

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะตะณะพ ะฟะพ ะบะพะพัะดะธะฝะฐัะฐะผ ัะฐะฑะปะธัั
        ยยlist.style.position = 'absolute';
        ยยlist.style.left = `${rect.left}px`;
        ยยlist.style.top = `${rect.top}px`;

        ยย// ะััะฐะฒะปัะตะผ ะดะพ ัะฐะฑะปะธัั
        ยยtable.parentNode.insertBefore(list, table);

        ยย// ะขะฐะฑะปะธัั ัะบััะฒะฐะตะผ
        ยยtable.style.visibility = 'hidden';
        };
        </code>
      </pre>
      <p>ะะธัั ะฑัะดะตั ัะพััะพััั ะธะท ะบะปะพะฝะพะฒ ัััะพะบ.</p>
      <pre>
        <code class="language-javascript">let list;

        const cloneTable = () =&gt; {
        ยย// ะะพะปััะฐะตะผ ะณัะฐะฝะธัั ัะฐะฑะปะธัั
        ยยconst rect = table.getBoundingClientRect();

        ยย// ะะพะปััะฐะตะผ ัะธัะธะฝั ัะฐะฑะปะธัั
        ยยconst width = parseInt(
        ยยยยwindow.getComputedStyle(table).width, 10
        ยย);

        ยย// ะกะพะทะดะฐะตะผ ะฟัะตะฒะดะพัะฟะธัะพะบ
        ยยlist = document.createElement('div');

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะตะณะพ ะฟะพ ะบะพะพัะดะธะฝะฐัะฐะผ ัะฐะฑะปะธัั
        ยยlist.style.position = 'absolute';
        ยยlist.style.left = `${rect.left}px`;
        ยยlist.style.top = `${rect.top}px`;

        ยย// ะััะฐะฒะปัะตะผ ะดะพ ัะฐะฑะปะธัั
        ยยtable.parentNode.insertBefore(list, table);

        ยย// ะขะฐะฑะปะธัั ัะบััะฒะฐะตะผ
        ยยtable.style.visibility = 'hidden';
        };
        </code>
      </pre>
      <p>ะะพัะปะต ะบะปะพะฝะธัะพะฒะฐะฝะธั ะฒ DOM ั ะฝะฐั ะดะพะปะถะฝะฐ ะดะพะฑะฐะฒะธัััั ัะฐะบะฐั ะบะพะฝััััะบัะธั.</p>
      <pre>
        <code class="language-html">&lt;!-- ะกะฟะธัะพะบ --&gt;
        &lt;div&gt;
        ยย&lt;!-- ะะตัะฒัะน ัะปะตะผะตะฝัโฆ --&gt;
        ยย&lt;div&gt;
        ยยยย&lt;table&gt;
        ยยยยยย&lt;tr&gt;
        ยยยยยยยย&lt;!-- โฆัะพะดะตัะถะธั ะบะปะพะฝ ะฟะตัะฒะพะน ัััะพะบะธ
        ยยยยยยยยะธััะพะดะฝะพะน ัะฐะฑะปะธัั --&gt;
        ยยยยยย&lt;/tr&gt;
        ยยยย&lt;/table&gt;
        ยย&lt;/div&gt;

        ยย&lt;!-- ะัะพัะพะน ัะปะตะผะตะฝั ะธ ั. ะด. --&gt;
        &lt;/div&gt;


        &lt;table&gt;&lt;!-- ะััะพะดะฝะฐั ัะฐะฑะปะธัะฐ --&gt;&lt;/table&gt;
        </code>
      </pre>
      <p>ะขะตะฟะตัั ะฝะฐะผ ะฝัะถะฝะพ ัััะฐะฝะพะฒะธัั ัะธัะธะฝั ััะตะตะบ, ััะพะฑั ัะดะตะปะฐัั ะดัะฑะปะธะบะฐั ัะฐะฑะปะธัั ะฟะพัะพะถะธะผ ะฝะฐ ะพัะธะณะธะฝะฐะป.</p>
      <pre>
        <code class="language-javascript">cells.forEach((cell) =&gt; {
          const newCell = cell.cloneNode(true);
          // ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะธัะธะฝั ะพัะธะณะธะฝะฐะปัะฝะพะน ััะตะนะบะธ
          newCell.style.width = `${parseInt(
            window.getComputedStyle(cell).width,
            10
          )}px`;
          newRow.appendChild(newCell);
        });
        </code>
      </pre>
      <p>ะะฟัะตะดะตะปัะตะผ ะธะฝะดะตะบัั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน ะธ ัะตะปะตะฒะพะน ัััะพะบะธ.</p>
      <pre>
        <code class="language-javascript">// ะะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั
        let draggingEle;
        // ะะฝะดะตะบั ะะตัะตัะฐัะบะธะฒะฐะตะผะพะน ัััะพะบะธ
        let draggingRowIndex;

        const mouseDownHandler = (e) =&gt; {
        ยย// ะะพะปััะฐะตะผ ะธััะพะดะฝัั ัััะพะบั
        ยยconst originalRow = e.target.parentNode;
        ยยdraggingRowIndex = [].slice
        ยยยย.call(table.querySelectorAll('tr'))
        ยยยย.indexOf(originalRow);
        };

        const mouseMoveHandler = (e) =&gt; {
        ยยif (!isDraggingStarted) {
        ยยยยcloneTable();

        ยยยย// ะะพะปััะฐะตะผ ะฟะตัะตััะณะธะฒะฐะตะผัะน ัะปะตะผะตะฝั
        ยยยยdraggingEle = [].slice.call(list.children)[draggingRowIndex];
        ยย}
        };

        const mouseUpHandler = () =&gt; {
        ยย// ะะพะปััะฐะตะผ ะธะฝะดะตะบั ัะตะปะตะฒะพะน ัััะพะบะธ
        ยยconst endRowIndex = [].slice
        ยยยย.call(list.children)
        ยยยย.indexOf(draggingEle);
        };
        </code>
      </pre>
      <p>ะะพัะปะต ัะพะณะพ, ะบะฐะบ ะผั ะฟะพะปััะธะปะธ <code>draggingRowIndex</code> ะธ <code>endRowIndex</code>, ะฝะตัััะดะฝะพ ะพะฟัะตะดะตะปะธัั, ะณะดะต ะฟะพะปัะทะพะฒะฐัะตะปั ะพัะฟัััะธั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั โ ัะฒะตััั ะธะปะธ ัะฝะธะทั ะพั ะธััะพะดะฝะพะน ัะพัะบะธ. ะ ัะตะฟะตัั ะผั ะผะพะถะตะผ ัะตัะธัั, ะบัะดะฐ ะฟัะธัััะพะธัั ัะตะปะตะฒัั ัััะพะบั: ะดะพ ะธะปะธ ะฟะพัะปะต ะฝะพะฒะพะณะพ ะผะตััะฐ ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน.</p>
      <pre>
        <code class="language-javascript">const mouseUpHandler = () =&gt; {
        ยย// ะะตัะตะฝะพัะธะผ ะฟะตัะตัะฐัะบะธะฒะฐะตะผัั ัััะพะบั ะบ `endRowIndex`
        ยยconst rows = [].slice.call(table.querySelectorAll('tr'));
        ยยdraggingRowIndex &gt; endRowIndex
        ยยยย? // ะะพะปัะทะพะฒะฐัะตะปั ะพัะฟัััะธะป ัะฒะตััั
        ยยยยยยrows[endRowIndex].parentNode.insertBefore(
        ยยยยยยยยrows[draggingRowIndex],
        ยยยยยยยยrows[endRowIndex]
        ยยยยยย)
        ยยยย: // ะะพะปัะทะพะฒะฐัะตะปั ะพัะฟัััะธะป ัะฝะธะทั
        ยยยยยยrows[endRowIndex].parentNode.insertBefore(
        ยยยยยยยยrows[draggingRowIndex],
        ยยยยยยยยrows[endRowIndex].nextSibling
        ยยยยยย);
        };
        </code>
      </pre>
      <p>ะะตะผะพ-ะฒะธะดะถะตั ะธ ะฟะพะปะฝัะน ะบะพะด ะผะพะถะฝะพ ะฟะพัะผะพััะตัั ะฝะฐ <a href="https://htmldom.dev/drag-and-drop-table-row/"  target="_blank" rel="noopener noreferrer">HTML DOM</a>.</p>

    </div>
  </details>

  {# Drag and drop table column #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะตัะตััะณะธะฒะฐะฝะธะต ะบะพะปะพะฝะบะธ ะฒ ัะฐะฑะปะธัะต</h3>
    </summary>
    <div class="accordion__body">
      <p>ะขะตัะฝะธะบะฐ ะพัะฝะพะฒะฐะฝะฐ ะฝะฐ <a href="#topic-dnd-li">ะฟะตัะตััะณะธะฒะฐะฝะธะธ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ</a>. ะะดะตั ะทะฐะบะปััะฐะตััั ะฒ ัะพะผ, ััะพะฑั ัะพะทะดะฐะฒะฐัั ะดัะฑะปะธะบะฐั ะบะพะปะพะฝะพะบ ะฒ ะฒะธะดะต ัะฟะธัะบะฐ โ ะบะฐะบ ัะพะปัะบะพ ะฟะพะปัะทะพะฒะฐัะตะปั ะฝะฐัะธะฝะฐะตั ััะฝััั. ะะฐ ะฒัะตะผั ะฟะตัะตััะณะธะฒะฐะฝะธั ะผั ะฟะพะบะฐะทัะฒะฐะตะผ ัะพะปัะบะพ ััะพั ัะฟะธัะพะบ (ะบะฐะถะดัะน ัะปะตะผะตะฝั โ ะบะปะพะฝ ะบะพะปะพะฝะบะธ), ะฐ ัะฐะฑะปะธัั ะฟัััะตะผ.</p>
      <p>ะขะฐะบะถะต ะฒะพ ะฒัะตะผั ะฟะตัะตััะณะธะฒะฐะฝะธั ะผั ะพะฟัะตะดะตะปัะตะผ ะฟะพััะดะบะพะฒัะน ะฝะพะผะตั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะณะพ ะธ ัะตะปะตะฒะพะณะพ ัะปะตะผะตะฝัะฐ ัะฟะธัะบะฐ. ะ ะผะตะฝัะตะผ ะผะตััะฐะผะธ ัะพะพัะฒะตัััะฒัััะธะต ะบะพะปะพะฝะบะธ.</p>
      <h4>ะะฑัะฐะฑะพััะธะบะธ ัะพะฑััะธะน</h4>
      <p>ะะฐะบ ะฝะฐะผ ะธะทะฒะตััะฝะพ ะธะท ัะฐะทะดะตะปะฐ ะพ <a href="#topic-dnd-li">ะฟะตัะตััะณะธะฒะฐะฝะธะธ ัะปะตะผะตะฝัะพะฒ ัะฟะธัะบะฐ</a>, ะฟะตัะฒัะผ ะดะตะปะพะผ ะฝะฐะดะพ ัะพะทะดะฐัั ะพะฑัะฐะฑะพััะธะบะธ ะดะปั ัััั ัะพะฑััะธะน.</p>
      <ul>
      <li><code>mousedown</code> โ ะดะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบ ะฝะฐ ะฟะตัะฒัะต ััะตะนะบะธ ะบะพะปะพะฝะพะบ ะธ ัะพะดะตัะถะธั ะปะพะณะธะบั ะฟะตัะตััะณะธะฒะฐะฝะธั ะธั ะบะปะพะฝะพะฒ.</li>
      <li><code>mousemove</code> - ะดะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบ ะฝะฐ ะดะพะบัะผะตะฝั ะธ ัะพะดะตัะถะธั ะบะพะด ัะพะทะดะฐะฝะธั ะธ ะฒััะฐะฒะบะธ ยซะทะฐะณะปััะบะธยป ะฝะฐ ะฒัะตะผั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั.</li>
      <li><code>mouseup</code> โ ัะพะฑััะธะต ะพะบะพะฝัะฐะฝะธั ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั.</li>
      </ul>
      <p>ะะฐะทะผะตัะบะฐ ะธ ยซะบะฐัะบะฐัยป ัะบัะธะฟัะฐ.</p>
      <pre>
        <code class="language-html">&lt;table id=&quot;table&quot;&gt;&lt;!-- ... --&gt;&lt;/table&gt;

        &lt;script&gt;
        ยยconst table = document.getElementById('table');

        ยยconst mouseMoveHandler = (e) =&gt; {
        ยยยย// ...
        ยย};

        ยยconst mouseUpHandler = () =&gt; {
        ยยยย// ...
        ยยยย// ะฃะดะฐะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ `mousemove` ะธ `mouseup`
        ยยยยdocument.removeEventListener(
        ยยยยยย'mousemove', mouseMoveHandler
        ยยยย);
        ยยยยdocument.removeEventListener(
        ยยยยยย'mouseup', mouseUpHandler
        ยยยย);
        ยย};

        ยยconst mouseDownHandler = (e) =&gt; {
        ยยยย// ...

        ยยยย// ะะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ ะฝะฐ ะดะพะบัะผะตะฝั
        ยยยยdocument.addEventListener(
        ยยยยยย'mousemove', mouseMoveHandler
        ยยยย);
        ยยยยdocument.addEventListener(
        ยยยยยย'mouseup', mouseUpHandler
        ยยยย);
        ยย};

        ยย// ะะพะฑะฐะฒะปัะตะผ ะพะฑัะฐะฑะพััะธะบะธ ะฝะฐัะฐะปะฐ ะฟะตัะตัะฐัะบะธะฒะฐะฝะธั
        ยยtable
        ยยยย.querySelectorAll('th')
        ยยยย.forEach((headerCell) =&gt; {
        ยยยยยยheaderCell.addEventListener(
        ยยยยยยยย'mousedown', mouseDownHandler
        ยยยยยย);
        ยย});
        &lt;/script&gt;
        </code>
      </pre>
      <h4>ะะปะพะฝะธััะตะผ ัะฐะฑะปะธัั, ะบะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตััะณะธะฒะฐะตั ะบะพะปะพะฝะบั</h4>
      <p>ะะพ-ะฟะตัะฒัั, ะฝะฐะผ ะฝัะถะตะฝ ัะปะฐะณ, ััะพะฑั ะฟะพะผะตัะฐัั, ะบะพะณะดะฐ ะฟัะพะธััะพะดะธั ะฟะตัะตััะณะธะฒะฐะฝะธะต.</p>
      <pre>
        <code class="language-javascript">let isDraggingStarted = false;

        const mouseMoveHandler = (e) =&gt; {
        ยยif (!isDraggingStarted) {
        ยยยยisDraggingStarted = true;

        ยยยยcloneTable();
        ยย}
        ยย// ...
        };
        </code>
      </pre>
      <p>ะคัะฝะบัะธั <code>cloneTable</code> ัะพะทะดะฐะตั ะบะปะพะฝ ัะฐะฑะปะธัั ะธ ะฟะพะบะฐะทัะฒะฐะตั ะตะณะพ ะฒะผะตััะพ ัะฐะฑะปะธัั.</p>
      <pre>
        <code class="language-javascript">let list;

        const cloneTable = () =&gt; {
        ยย// ะะพะปััะฐะตะผ ะณัะฐะฝะธัั ัะฐะฑะปะธัั
        ยยconst rect = table.getBoundingClientRect();

        ยย/* ะกะพะทะดะฐะตั ัะฟะธัะพะบ โ ะฝะต ัะตะผะฐะฝัะธัะตัะบะธะน `ul`,
        ยยะฟัะพััะพะน `div` */
        ยยlist = document.createElement('div');

        ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะตะณะพ ะฟะพ ะบะพะพัะดะธะฝะฐัะฐะผ ัะฐะฑะปะธัั
        ยยlist.style.position = 'absolute';
        ยยlist.style.left = `${rect.left}px`;
        ยยlist.style.top = `${rect.top}px`;

        ยย// ะ ะบะพะดะต ะฒััะฐะฒะปัะตะผ ะฟะตัะตะด ัะฐะฑะปะธัะตะน
        ยยtable.parentNode.insertBefore(list, table);

        ยย// ะัััะตะผ ัะฐะฑะปะธัั
        ยยtable.style.visibility = 'hidden';
        };
        </code>
      </pre>
      <p>ะะธัั ะฑัะดะตั ัะพััะพััั ะธะท ะบะปะพะฝะพะฒ ะบะพะปะพะฝะพะบ.</p>
      <pre>
        <code class="language-javascript">const cloneTable = () =&gt; {
          // ...

          /* ะะพะปััะฐะตะผ ะฟะพะฒะตััะฝะพััะฝัั ะบะพะฟะธั ะฒัะตั td.
          ะะตะปะฐะตะผ ะธะท NodeList ะผะฐััะธะฒ, ััะพะฑั ะฟัะธะผะตะฝะธัั
          ะฟะพะทะถะต ะผะตัะพะด `filter`.*/
          const originalCells = [].slice.call(
        ยยยยtable.querySelectorAll('tbody td')
          );

          /* ะะพะปััะฐะตะผ ะฟะพะฒะตััะฝะพััะฝัั ะบะพะฟะธั ะฒัะตั th.
          ะ ะดะฐะฝะฝะพะผ ัะปััะฐะต ะฝะต ัะฒะตัะตะฝ ัะฒ ะฝะตะพะฑัะพะดะธะผะพััะธ
          `[].slice.call`, ัะฐะบ ะบะฐะบ `NodeList` ะธะผะตะตั
          ัะฒะพะนััะฒะพ `length` ะธ ะผะตัะพะด `forEach` */
          const originalHeaderCells = [].slice.call(
        ยยยยtable.querySelectorAll('th')
          );

          const numColumns = originalHeaderCells.length;

          // ะะตัะตะฑะธัะฐะตะผ ะฒัะต th
        ยยoriginalHeaderCells.forEach(
        ยยยย(headerCell, headerIndex) =&gt; {
        ยยยยยยconst width = parseInt(
        ยยยยยยยยwindow.getComputedStyle(headerCell).width,
        ยยยยยยยย10
        ยยยยยย);

        ยยยยยย/* ะกะพะทะดะฐะตะผ ัะฟะธัะพะบ ะธ ะฝะพะฒัั ัะฐะฑะปะธัั
        ยยยยยยะธะท ะฟะตัะฒะพะน ัััะพะบะธ ะธััะพะดะฝะพะน */ยย
        ยยยยยยconst item = document.createElement('div');
        ยยยยยยitem.classList.add('draggable');
        ยย
        ยยยยยยconst newTable = document.createElement('table');
        ยย
        ยยยยยย/* ะกััะพะบะฐ ะทะฐะณะพะปะพะฒะบะพะฒ th
        ยยยยยย(ัะตะผะฐะฝัะธัะตัะบะธ โ ะฟะพัะพะผะพะบ thead) */
        ยยยยยยconst th = headerCell.cloneNode(true);
        ยยยยยยlet newRow = document.createElement('tr');
        ยยยยยยnewRow.appendChild(th);
        ยยยยยยnewTable.appendChild(newRow);
        ยย
        ยยยยยยconst cells = originalCells.filter((c, idx) =&gt; {
        ยยยยยยยยreturn (idx - headerIndex) % numColumns === 0;
        ยยยยยย});
        ยย
        ยยยยยยcells.forEach((cell) =&gt; {
        ยยยยยยยยconst newCell = cell.cloneNode(true);
        ยยยยยยยยnewRow = document.createElement('tr');
        ยยยยยยยยnewRow.appendChild(newCell);
        ยยยยยยยยnewTable.appendChild(newRow);
        ยยยยยย});
        ยย
        ยยยยยยitem.appendChild(newTable);
        ยยยยยยlist.appendChild(item);
        ยยยย}
        ยย);
        };
        </code>
      </pre>
      <p>ะะพัะปะต ะบะปะพะฝะธัะพะฒะฐะฝะธั ะฒ DOM ั ะฝะฐั ะดะพะปะถะฝะฐ ะดะพะฑะฐะฒะธัััั ัะฐะบะฐั ะบะพะฝััััะบัะธั.</p>
      <pre>
        <code class="language-html">&lt;!-- ะกะฟะธัะพะบ --&gt;
        &lt;div&gt;
        ยย&lt;!-- ะะตัะฒัะน ัะปะตะผะตะฝัโฆ --&gt;
        ยย&lt;div&gt;
        ยยยย&lt;table&gt;
        ยยยยยย&lt;!-- โฆัะพะดะตัะถะธั ะบะปะพะฝ ะฟะตัะฒะพะน ะบะพะปะพะฝะบะธ
        ยยยยยยะธััะพะดะฝะพะน ัะฐะฑะปะธัั --&gt;
        ยยยยยย&lt;tr&gt;
        ยยยยยยยย...
        ยยยยยย&lt;/tr&gt;
        ยยยยยย&lt;tr&gt;
        ยยยยยยยย...
        ยยยยยย&lt;/tr&gt;
        ยยยยยย...
        ยยยย&lt;/table&gt;
        ยย&lt;/div&gt;

        ยย&lt;!-- ะัะพัะพะน ัะปะตะผะตะฝั ะธ ั. ะด. --&gt;
        &lt;/div&gt;

        &lt;table&gt;&lt;!-- ะััะพะดะฝะฐั ัะฐะฑะปะธัะฐ --&gt;&lt;/table&gt;
        </code>
      </pre>
      <p>ะขะตะฟะตัั ะฝะฐะผ ะฝัะถะฝะพ ัััะฐะฝะพะฒะธัั ัะธัะธะฝั ััะตะตะบ, ััะพะฑั ัะดะตะปะฐัั ะดัะฑะปะธะบะฐั ัะฐะฑะปะธัั ะฟะพัะพะถะธะผ ะฝะฐ ะพัะธะณะธะฝะฐะป.</p>
      <pre>
        <code class="language-javascript">originalHeaderCells.forEach((headerCell, headerIndex) =&gt; {
        ยย// ะะพะปััะฐะตะผ ัะธัะธะฝั ะพัะธะณะธะฝะฐะปัะฝะพะน ััะตะนะบะธ
        ยยconst width = parseInt(
        ยยยยwindow.getComputedStyle(headerCell).width, 10
        ยย);

        ยยnewTable.style.width = `${width}px`;

        ยยcells.forEach((cell) =&gt; {
        ยยยยconst newCell = cell.cloneNode(true);
        ยยยยnewCell.style.width = `${width}px`;
        ยยยย// ...
        ยย});
        });
        </code>
      </pre>
      <p>ะะฟัะตะดะตะปัะตะผ ะธะฝะดะตะบัั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน ะธ ัะตะปะตะฒะพะน ะบะพะปะพะฝะบะธ.</p>
      <pre>
        <code class="language-javascript">// ะะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั
        let draggingEle;
        // ะะฝะดะตะบั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน ะบะพะปะพะฝะบะธ
        let draggingRowIndex;

        const mouseDownHandler = (e) =&gt; {
        ยย// ะะพะปััะฐะตะผ ะธะฝะดะตะบั ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน ะบะพะปะพะฝะบะธ
        ยยdraggingColumnIndex = [].slice
        ยยยย.call(table.querySelectorAll('th'))
        ยยยย.indexOf(e.target);
        };

        const mouseMoveHandler = (e) =&gt; {
        ยยif (!isDraggingStarted) {
        ยยยยcloneTable();

        ยยยย// ะะพะปััะฐะตะผ ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั
        ยยยยdraggingEle = [].slice
        ยยยยยย.call(list.children)[draggingColumnIndex];
        ยย}
        };

        const mouseUpHandler = () =&gt; {
        ยย// ะะพะปััะฐะตะผ ะธะฝะดะตะบั ะฟะพัะปะตะดะฝะตะน ะบะพะปะพะฝะบะธ
        ยยconst endColumnIndex = [].slice
        ยยยย.call(list.children)
        ยยยย.indexOf(draggingEle);
        };

        </code>
      </pre>
      <p>ะะพัะปะต ัะพะณะพ, ะบะฐะบ ะผั ะฟะพะปััะธะปะธ <code>draggingColumnIndex</code> ะธ <code>endColumnIndex</code>, ะฝะตัััะดะฝะพ ะพะฟัะตะดะตะปะธัั, ะณะดะต ะฟะพะปัะทะพะฒะฐัะตะปั ะพัะฟัััะธั ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะน ัะปะตะผะตะฝั โ ัะฟัะฐะฒะฐ ะธะปะธ ัะปะตะฒะฐ ะพั ะธััะพะดะฝะพะน ัะพัะบะธ. ะ ัะตะฟะตัั ะผั ะผะพะถะตะผ ัะตัะธัั, ะบัะดะฐ ะฟัะธัััะพะธัั ัะตะปะตะฒัั ะบะพะปะพะฝะบั: ะดะพ ะธะปะธ ะฟะพัะปะต ะฝะพะฒะพะณะพ ะผะตััะฐ ะฟะตัะตัะฐัะบะธะฒะฐะตะผะพะน.</p>
      <pre>
        <code class="language-javascript">const mouseUpHandler = () =&gt; {
        ยย// ะะฒะธะณะฐะตะผ ะฟะตัะตัะฐัะบะธะฒะฐะตะผัั ะบะพะปะพะฝะบั ะบ `endColumnIndex`
        ยยtable.querySelectorAll('tr').forEach(function (row) {
        ยยยยconst cells = [].slice.call(
        ยยยยยยrow.querySelectorAll('th, td')
        ยยยย);
        ยยยยdraggingColumnIndex &gt; endColumnIndex
        ยยยยยย? cells[endColumnIndex].parentNode.insertBefore(
        ยยยยยยยยยยcells[draggingColumnIndex],
        ยยยยยยยยยยcells[endColumnIndex]
        ยยยยยยยย)
        ยยยยยย: cells[endColumnIndex].parentNode.insertBefore(
        ยยยยยยยยยยcells[draggingColumnIndex],
        ยยยยยยยยยยcells[endColumnIndex].nextSibling
        ยยยยยยยย);
        ยย});
        };
        </code>
      </pre>
      <p>ะะตะผะพ-ะฒะธะดะถะตั ะธ ะฟะพะปะฝัะน ะบะพะด ะผะพะถะฝะพ ะฟะพัะผะพััะตัั ะฝะฐ <a href="https://htmldom.dev/drag-and-drop-table-column/" target="_blank" rel="noopener noreferrer">HTML DOM</a>.</p>

    </div>
  </details>

  {# Show a loading indicator when an iframe is being loaded #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะฝะดะธะบะฐัะพั ะทะฐะณััะทะบะธ <code>iframe</code></h3>
    </summary>
    <div class="accordion__body">
      <h4>ะะฐะทะผะตัะบะฐ ะธ ััะธะปะธ</h4>
      <p>ะะทะฝะฐัะฐะปัะฝะพ <code>iframe</code> ัะบัััะพ (<code>opacity: 0</code>). ะ ะธะฝะดะธะบะฐัะพั ะฒััะฐะฒะฝะตะฝ ะฟะพ ัะตะฝััั.</p>
      <pre>
        <code class="language-html">&lt;div class=&quot;container&quot;&gt;
          ยย&lt;!-- The loading indicator --&gt;
          ยย&lt;div class=&quot;loader&quot; id=&quot;loader&quot;&gt;Loading&lt;/div&gt;
          ยย
          ยย&lt;!-- The iframe --&gt;
          ยย&lt;iframe id=&quot;frame&quot; style=&quot;opacity: 0;&quot;&gt;&lt;/iframe&gt;
          &lt;/div&gt;
        </code>
      </pre>
      <pre>
        <code class="language-scss">.container {
          ยยdisplay: flex;
          ยยalign-items: center;
          ยยjustify-content: center;
          ยยwidth: 100vw;
          ยยheight: 100vh;
          }

          .loader {
          ยยbackground: var(--color-background-alt);
          ยยbox-shadow: var(--layer-box-shadow-z3);
          ยยborder-radius: var(--shape-border-radius-base);
          ยยpadding: $size-line $size-1p5;
          }
        </code>
      </pre>
      <h4>ะะฑัะฐะฑะพัะบะฐ ัะพะฑััะธั <code>load</code></h4>
      <p>ะกะบัะพะตะผ ะธะฝะดะธะบะฐัะพั, ะบะพะณะดะฐ ะทะฐะณััะทะบะฐ ะทะฐะบะพะฝัะธััั.</p>
      <pre>
        <code class="language-javascript">const iframeEle = document.getElementById('iframe');
          const loadingEle = document.getElementById('loader');

          iframeEle.addEventListener('load', () =&gt; {
          ยย// ะกะบัััั ะธะฝะดะธะบะฐัะพั
          ยยloadingEle.style.display = 'none';

          ยย// ะะพะบะฐะทะฐัั iframe
          ยยiframeEle.style.opacity = 1;
          });
        </code>
      </pre>
    </div>
  </details>

  {# Create an image comparison slider #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะธะดะถะตั ััะฐะฒะฝะตะฝะธั ัะพัะพะณัะฐัะธะน</h3>
    </summary>
    <div class="accordion__body">
      <h4>ะะฐะทะผะตัะบะฐ</h4>
      <p>ะะธะดะถะตั ัะพััะพะธั ะธะท ะบะพะฝัะตะนะฝะตัะฐ ะธ ััะตั ะบะพะผะฟะพะฝะตะฝัะพะฒ.</p>
      <ul>
      <li>ะกะฒะตััั โ <code>div</code> ั ัะพะฝะพะผ ะธะท ะธะทะผะตะฝะตะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั.</li>
      <li>ะะธะถะต โ ะฟะตัะตะดะฒะธะถะฝะฐั ะณัะฐะฝั.</li>
      <li>ะะฝะธะทั โ ะธััะพะดะฝะพะต ะธะทะพะฑัะฐะถะตะฝะธั.</li>
      </ul>
      <pre>
        <code class="language-html">&lt;div class=&quot;container&quot;&gt;
          ยย&lt;div class=&quot;modified-image&quot;&gt;&lt;/div&gt;
          ยย
          ยย&lt;!-- ะัะฐะฝั --&gt;
          ยย&lt;div class=&quot;cropper&quot; id=&quot;drag-me&quot;&gt;&lt;/div&gt;
          ยย
          ยย&lt;img src=&quot;/original.png&quot;&gt;
          &lt;/div&gt;
        </code>
      </pre>
      <p>ะ ะธััะพะดะฝะพะผ ะฟะพะปะพะถะตะฝะธะธ ะธะทะผะตะฝะตะฝะฝะพะต ะธะทะพะฑัะฐะถะตะฝะธะต ะพะฑัะตะทะฐะฝะพ ะฟะพะฟะพะปะฐะผ.</p>
      <pre>
        <code class="language-scss">.container {
          ยยposition: relative;
          }

          .modified-image {
            background: url('/modified.png') no-repeat 0;
            background-size: auto 100%;
          ยยposition: absolute;
          ยยtop: 0;ยย
          ยยleft: 0;

          ยย// ะะพะปะพะฒะธะฝะฐ ะธะทะผะตะฝะตะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั
          ยยwidth: 50%;
          ยยheight: 100%;
          }

          // ะัะฐะฝั ะฟะตัะตัะตะบะฐะตั ะธะทะพะฑัะฐะถะตะฝะธั ะฟะพัะตัะตะดะธะฝะต
          .cropper {
          ยยbackground-color: #cbd5e0;
          ยยcursor: ew-resize;
          ยย
          ยยposition: absolute;
          ยยtop: 0;
          ยยleft: 50%;
          ยย
          ยยwidth: 2px;
          ยยheight: 100%;
          }
        </code>
      </pre>
      <h4>ะะฑัะฐะฑะพััะธะบะธ</h4>
      <p>ะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตะดะฒะธะณะฐะตั ะณัะฐะฝั, ะผั ัะฐัััะธััะฒะฐะตะผ ะฝะฐัะบะพะปัะบะพ ะฟะตัะตะผะตััะธะปัั ะบัััะพั ะธ, ะธััะพะดั ะธะท ััะพะณะพ, โ ะฝะพะฒะพะต ะฟะพะปะพะถะตะฝะธะต ะณัะฐะฝะธ ะธ ัะธัะธะฝั ะธะทะผะตะฝะตะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั.</p>
      <pre>
        <code class="language-javascript">const cropper = document.getElementById('drag-me');
          const leftSide = cropper.previousElementSibling;

          // ะะฝะธัะธะฐะปะธะทะธััะตะผ ะบะพะพัะดะธะฝะฐัั ะบัััะพัะฐ
          let x = 0;
          let y = 0;

          // ะะฝะธัะธะฐะปะธะทะธััะตะผ ัะธัะธะฝั ะผะพะดะธัะธัะธัะพะฒะฐะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั
          let leftWidth = 0;

          /* ะะฑัะฐะฑะพััะธะบ ัะพะฑััะธั `mousedown`. ะกัะฐะฑะฐััะฒะฐะตั,
          ะบะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตัะฐัะบะธะฒะฐะตั ะณัะฐะฝั */
          const mouseDownHandler = (e) =&gt; {
          ยย// ะขะตะบััะธะต ะบะพะพัะดะธะฝะฐัั ะบัััะพัะฐ
          ยยx = e.clientX;
          ยยy = e.clientY;

          ยย// ะขะตะบััะฐั ัะธัะธะฝะฐ ะผะพะดะธัะธัะธัะพะฒะฐะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั
          ยยleftWidth =
          ยยยยleftSide.getBoundingClientRect().width;

          ยย// ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปะธ ะฝะฐ ะดะพะบัะผะตะฝั
          ยยdocument.addEventListener(
          ยยยย'mousemove', mouseMoveHandler
          ยย);
          ยยdocument.addEventListener('mouseup', mouseUpHandler);
          };

          const mouseMoveHandler = (e) =&gt; {
          ยย// ะะฐะบ ะดะฐะปะตะบะพ ะฟะตัะตะดะฒะธะฝัะปัั ะบัััะพั
          ยยconst dx = e.clientX - x;
          ยยconst dy = e.clientY - y;

          ยยlet newLeftWidth =
          ยยยย((leftWidth + dx) * 100) /
          ยยยยcropper.parentNode.getBoundingClientRect().width;
          ยยnewLeftWidth = Math.max(newLeftWidth, 0);
          ยยnewLeftWidth = Math.min(newLeftWidth, 100);

          ยย/* ะะฐััะตั ัะธัะธะฝั ะผะพะดะธัะธัะธัะพะฒะฐะฝะฝะพะณะพ ะธะทะพะฑัะฐะถะตะฝะธั
          ยยะธ ะฟะพะทะธัะธะธ ะณัะฐะฝะธ */
          ยยleftSide.style.width = `${newLeftWidth}%`;
          ยยcropper.style.left = `${newLeftWidth}%`;
          };

          // ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะปััะฐัะตะปั
          cropper.addEventListener(
          ยย'mousedown', mouseDownHandler
          );
        </code>
      </pre>
      <p>ะัะพะผะต ะฒัะตะณะพ ะฟัะพัะตะณะพ, ะผั ะดะพะปะถะฝั ัะปะตะดะธัั ะทะฐ ัะตะผ, ััะพะฑั ะฒ ะฝะฐัะธั ัะฐััะตัะฐั ััะธััะฒะฐะปะธัั ะฟะตัะตะดะฒะธะถะตะฝะธั ะบัััะพัะฐ ัะพะปัะบะพ ะฒ ัะฐะผะบะฐั ะบะพะฝัะตะนะฝะตัะฐ. ะะพััะพะผั ะผั ะดะพะปะถะฝั ััะฐะฒะฝะธะฒะฐัั <code>newLeftWidth</code> ั 0 ะธ 100 ะฟัะพัะตะฝัะฐะผะธ ัะธัะธะฝั ะบะพะฝัะตะนะฝะตัะฐ.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
          ยย// ะัะตะดัะดััะธะน ะบะพะด...

          ยยnewLeftWidth = Math.max(newLeftWidth, 0);
          ยยnewLeftWidth = Math.min(newLeftWidth, 100);
          };
        </code>
      </pre>
    </div>
  </details>

  {# Show a ghost element when dragging an element #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะัะพัะผะปะตะฝะธะต ะฒะธัััะฐะปัะฝะพะน ะฟัะพะตะบัะธะธ ะฟะตัะตััะณะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ</h3>
    </summary>
    <div class="accordion__body">
      <p>ะะพ ัะผะพะปัะฐะฝะธั ะฑัะฐัะทะตั ัะพะทะดะฐะตั ะฟะพะปัะฟัะพะทัะฐัะฝะพะณะพ ะฒะธัััะฐะปัะฝะพะณะพ ะดะฒะพะนะฝะธะบะฐ ะฟะตัะตััะณะธะฒะฐะตะผะพะณะพ ัะปะตะผะตะฝัะฐ. ะะพ ะตะณะพ ะผะพะถะฝะพ ะตัะต ะธ ะพัะพัะผะธัั ะฟะพ ัะพะฑััะฒะตะฝะฝะพะผั ัะผะพััะตะฝะธั.</p>

      <pre>
        <code class="language-html">&lt;div class=&quot;is-draggable&quot; draggable=&quot;true&quot;&gt;
          ยยะะตัะตะฝะตัะธ ะผะตะฝั
          &lt;/div&gt;
        </code>
      </pre>

      <pre>
        <code class="language-javascript">const ele = document.getElementById('dragMe');

          // ะะธัััะฐะปัะฝะฐั ะฟัะพะตะบัะธั
          let ghostEle;

          ele.addEventListener('dragstart', (e) =&gt; {
          ยย// ะกะพะทะดะฐะตะผ ะฒะธัััะฐะปัะฝัั ะฟัะพะตะบัะธั
          ยยghostEle = document.createElement('div');
          ยยghostEle.classList.add('is-dragging');
          ยยghostEle.innerHTML = 'ะฃะธะธะธ!';
          ยยdocument.body.appendChild(ghostEle);

          ยย// ะะฐะผะตะฝัะตะผ ะฟัะพะตะบัะธั ะฟะพ ัะผะพะปัะฐะฝะธั ะฟะพะปัะทะพะฒะฐัะตะปััะบะพะน
          ยยe.dataTransfer.setDragImage(ghostEle, 0, 0);
          });

          // ะะพ ะพะบะพะฝัะฐะฝะธั ะฟะตัะตััะณะธะฒะฐะฝะธั ะฒะธัััะฐะปัะฝัั ะฟัะพะตะบัะธั ัะปะตะดัะตั ัะดะฐะปะธัั.

          ele.addEventListener('dragend', () =&gt; {
          ยยdocument.body.removeChild(ghostEle);
          });
        </code>
      </pre>

      <p>ะขะฐะบะถะต ะผะพะถะฝะพ ะธัะฟะพะปัะทะพะฒะฐัั ะทะฐัะฐะฝะตะต ะฟะพะดะณะพัะพะฒะปะตะฝะฝัั ัะฐะทะผะตัะบั.</p>

      <pre>
        <code class="language-javascript">&lt;div class=&quot;is-draggable&quot; draggable=&quot;true&quot;&gt;
          ยยะะตัะตะฝะตัะธ ะผะตะฝั
          &lt;/div&gt;
          &lt;div class=&quot;is-dragging&quot; id=&quot;ghost&quot;&gt;
          ยยะฃะธะธะธ!
          &lt;/div&gt;
        </code>
      </pre>

      <p>ะะฑัะฐะฑะพััะธะบ ัะพะฑััะธั ะฝะต ัะธะปัะฝะพ ะธะทะผะตะฝะธััั.</p>
      <pre>
        <code class="language-javascript">const ghostEle = document.getElementById('ghost');

          ele.addEventListener('dragstart', (e) =&gt; {
          ยยe.dataTransfer.setDragImage(ghostEle, 0, 0);
          });
        </code>
      </pre>
    </div>
  </details>

  {# Copy highlighted code to the clipboard #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะกะบะพะฟะธัะพะฒะฐัั ะฟัะธะผะตั ะบะพะดะฐ ัะพ ัััะฐะฝะธัั</h3>
    </summary>
    <div class="accordion__body">
      <p>ะะฐะดะฐัะฐ. ะัะตะดะพััะฐะฒะธัั ะฟะพะปัะทะพะฒะฐัะตะปั ัะบะพะฟะธัะพะฒะฐัั ะฒ ะฑััะตั ะพะฑะผะตะฝะฐ ะฟัะธะผะตั ะบะพะดะฐ ะฟะพ ะฝะฐะถะฐัะธั ะบะฝะพะฟะบะธ.</p>
      <pre>
        <code class="language-html">&lt;pre id=&quot;sample-code&quot;&gt;&lt;code&gt;...&lt;/code&gt;&lt;/pre&gt;
          &lt;button id=&quot;copy-button&quot;&gt;Copy&lt;/button&gt;
        </code>
      </pre>
      <p>ะะพะฟะธัะพะฒะฐะฝะธะต ะฒัะฟะพะปะฝัะตััั ะฒ ััะธ ััะฐะฟะฐ:</p>
      <ul>
        <li>ะัะดะตะปัะตะผ ัะพะดะตัะถะธะผะพะต ัะตะณะฐ <code>&lt;code&gt;</code>.</li>
        <li>
        <p>ะะพะฟะธััะตะผ ะฒ ะฑััะตั, ะธัะฟะพะปัะทัั ะผะตัะพะด <code>document.execCommand('copy')</code></p>
        <p>โ๏ธ๐ง ะะตัะพะด <code>execCommand()</code> ะพัะธัะธะฐะปัะฝะพ ััะธัะฐะตััั ัััะฐัะตะฒัะธะผ, ะฝะพ ะฐะปััะตัะฝะฐัะธะฒั ะฟะพะบะฐ ะฝะตั. ะัะปะธ ะฝัะถะฝั ะบะพะผะฐะฝะดั ะดะปั ัะฐะฑะพัั ั ะบะพะฝัะตะฝัะพะผ ะฒ ัะตะถะธะผะต ัะตะดะฐะบัะธัะพะฒะฐะฝะธั ะดะพะบัะผะตะฝัะฐ โ <code>document.designMode</code> โ ะฟะพะบะฐ ะฟัะธัะพะดะธััั ะฟะพะปัะทะพะฒะฐัััั <code>execCommand()</code> */</p>
        </li>
        <li>ะัะตะดัะดััะธะต ัะฐะณะธ ัะฒัะทะฐะฝั ั ะธะทะผะตะฝะตะฝะธะตะผ ะฟะพะปัะทะพะฒะฐัะตะปััะบะพะณะพ ะฒัะดะตะปะตะฝะธั. ะะพััะพะผั ะธััะพะดะฝะพะต ะฒัะดะตะปะตะฝะธะต ะฝะฐะดะพ ัะพััะฐะฝะธัั ะธ ะฒะพัััะฐะฝะพะฒะธัั ะฟะพัะปะต ะบะพะฟะธัะพะฒะฐะฝะธั.</li>
      </ul>
      <pre>
        <code class="language-javascript">(() =&gt; {
          ยยconst copyButton =
          ยยยยdocument.getElementById('copy-button');
          ยยconst codeEle =
          ยยยยdocument.getElementById('sample-code');

          ยยcopyButton.addEventListener('click', () =&gt; {
          ยยยยconst selection = window.getSelection();

          ยยยย// ะกะพััะฐะฝัะตะผ ะฒัะดะตะปะตะฝะธะต
          ยยยยconst currentRange =
          ยยยยยยselection.rangeCount === 0
          ยยยยยยยย? null
          ยยยยยยยย: selection.getRangeAt(0);

          ยยยย// ะัะดะตะปัะตะผ ัะพะดะตัะถะธะผะพะต ะผะตะถะดั `&lt;code&gt;`
          ยยยยconst range = document.createRange();
          ยยยยrange.selectNodeContents(codeEle);
          ยยยยselection.removeAllRanges();
          ยยยยselection.addRange(range);

          ยยยย// ะะพะฟะธััะตะผ ะฒ ะฑััะตั
          ยยยยtry {
          ยยยยยยdocument.execCommand('copy');
          ยยยยยยcopyButton.innerHTML = 'Copied';
          ยยยย} catch (err) {
          ยยยยยย// ะะตะฒะพะทะผะพะถะฝะพ ัะบะพะฟะธัะพะฒะฐัั
          ยยยยยยcopyButton.innerHTML = 'Copy';
          ยยยย} finally {
          ยยยยยย// ะะพัััะฐะฝะฐะฒะปะธะฒะฐะตะผ ะฒัะดะตะปะตะฝะธะต
          ยยยยยยselection.removeAllRanges();
          ยยยยยยcurrentRange &amp;&amp;
          ยยยยยยselection.addRange(currentRange);
          ยยยย}
          ยย});
          })();
        </code>
      </pre>
    </div>
  </details>

  {# Create a custom scrollbar #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะะพะปัะทะพะฒะฐัะตะปััะบะฐั ะฟะพะปะพัะฐ ะฟัะพะบัััะบะธ</h3>
    </summary>
    <div class="accordion__body">
      <p>ะะพะถะฝะพ ะพะฑะฝะพะฒะธัั ะฒะฝะตัะฝะธะน ะฒะธะด ะฟะพะปะพัั ะฟัะพะบัััะบะธ ะธัะบะปััะธัะตะปัะฝะพ ััะธะปัะผะธ.</p>
      <pre>
        <code class="language-scss">// Firefox
          body {
          ยยscrollbar-width: thin;
          ยย
          ยย// ะฆะฒะตัะฐ ะฑะตะณัะฝะบะฐ ะธ ยซัะตะปััะฐยป
          ยยscrollbar-color: #718096 #edf2f7;
          }

          // Chrome, Edge ะธ Safari
          body::-webkit-scrollbar {
          ยยwidth: .75rem;
          }

          *::-webkit-scrollbar-track {
          ยยbackground-color: #edf2f7;
          }

          *::-webkit-scrollbar-thumb {
          ยยbackground-color: #718096;
          ยยborder-radius: 9999px;
          }
        </code>
      </pre>

      <h4>ะะปััะตัะฝะฐัะธะฒะฝัะน ะผะตัะพะด</h4>
      <p>ะะพ ะฟะพัะบะพะปัะบั <code>-webkit-scrollbar</code> ะฝะต ัะฒะปัะตััั ััะฐะฝะดะฐััะฝัะผ ะฟัะตะฒะดะพัะปะตะผะตะฝัะพะผ ะธ ะพะดะฝะฐะถะดั ะผะพะถะตั ะฟะตัะตััะฐัั ะฟะพะดะดะตัะถะธะฒะฐัััั, ะผะพะถะฝะพ ัะบัััั ัะพะดะฝะพะน ัะบัะพะปะปะฑะฐั ะฑัะฐัะทะตัะฐ ะธ ะฒะผะตััะพ ะฝะตะณะพ ะธัะฟะพะปัะทะพะฒะฐัั ะฟะพะปัะทะพะฒะฐัะตะปััะบะธะน. ะะฐะฟัะธะผะตั, ะดะปั ัะฐะบะพะณะพ ะบะพะฝัะตะนะฝะตัะฐ ั ะฟัะพะบัััะบะพะน.</p>
      <pre>
        <code class="language-html">&lt;div class=&quot;wrapper&quot; id=&quot;wrapper&quot;&gt;
          ยย&lt;div class=&quot;content&quot; id=&quot;content&quot;&gt;
          ยยยย...
          ยย&lt;/div&gt;
          &lt;/div&gt;
        </code>
      </pre>
      <pre>
        <code class="language-scss">.wrapper {
          ยยoverflow: hidden;
          ยยmax-height: 32rem;
          }

          .content {
            // ะกะบัััั ัะบัะพะปะปะฑะฐั ะฟะพ ัะผะพะปัะฐะฝะธั
            margin-right: -1.6rem;
            padding-right: 1.6rem;

          ยยoverflow: auto;
          ยยheight: 100%;
          }
        </code>
      </pre>

      <h4>ะะพะปัะทะพะฒะฐัะตะปััะบะฐั ะฟะพะปะพัะฐ ะฟัะพะบัััะบะธ โ ะธััะพะดะฝะฐั ัะฐะทะผะตัะบะฐ ะธ ะปะพะณะธะบะฐ</h4>
      <p>ะะพะฑะฐะฒะธะผ ะฟะพะด ยซะพะฑัััะบะพะนยป ะดะพะฑะฐะฒะธะผ ยซัะบะพััยป โ ะพัะธะตะฝัะธั ะดะปั ะฟะพะทะธัะธะพะฝะธัะพะฒะฐะฝะธั ัะบัะพะปะปะฑะฐัะฐ โ ะธ ัะพะฑััะฒะตะฝะฝะพ ัะบัะพะปะปะฑะฐั.</p>
      <pre>
        <code class="language-html">&lt;div id=&quot;wrapper&quot;&gt;...&lt;/div&gt;

          &lt;!-- ะฏะบะพัั --&gt;
          &lt;div
          ยยid=&quot;anchor&quot;
          ยยstyle=&quot;position: absolute; top: 0; left: 0;&quot;
          &gt;
          &lt;/div&gt;

          &lt;!-- ะกะบัะพะปะปะฑะฐั --&gt;
          &lt;div
          ยยid=&quot;scrollbar&quot;
          ยยstyle=&quot;position: absolute; width: .75rem;&quot;
          &gt;
          &lt;/div&gt;
        </code>
      </pre>
      <p>ะฃััะฐะฝะพะฒะธะผ ัะบัะพะปะปะฑะฐั ะฒ ะฟัะฐะฒัะน ะฒะตััะฝะธะน ัะณะพะป.</p>
      <pre>
        <code class="language-javascript">const wrapper = document.getElementById('wrapper');
          const content = document.getElementById('content');
          const anchor = document.getElementById('anchor');
          const scrollbar = document.getElementById('scrollbar');

          // ะะพะปััะฐะตะผ ัะฐะทะผะตัั ะธ ะฟะพะปะพะถะตะฝะธั ะบะพะฝัะตะนะฝะตัะฐ ะธ ัะบะพัั
          const wrapperRect = wrapper.getBoundingClientRect();
          const anchorRect = anchor.getBoundingClientRect();

          // ะฃััะฐะฝะฐะฒะปะธะฒะฐะตะผ ัะบัะพะปะปะฑะฐั
          const top = wrapperRect.top - anchorRect.top;
          const left = wrapperRect.width + wrapperRect.left - anchorRect.left;
          scrollbar.style.top = `${top}px`;
          scrollbar.style.left = `${left}px`;

          // ะััะพัะฐ ัะบัะพะปะปะฑะฐัะฐ ัะฐะฒะฝะฐ ะฒััะพัะต ะบะพะฝัะตะนะฝะตัะฐ
          scrollbar.style.height = `${wrapperRect.height}px`;
        </code>
      </pre>

      <h4>ะะพะฝััััะธััะตะผ ะฟะพะปะพัั ะฟัะพะบัััะบะธ</h4>
      <p>ะกะบัะพะปะปะฑะฐั ัะพััะพะธั ะธะท ยซัะตะปััะฐยป <code>track</code> ะธ ะฑะตะณัะฝะบะฐ <code>thumb</code> โ ะฐะฑัะพะปััะฝะพ ะฟะพะทะธัะธะพะฝะธัะพะฒะฐะฝะฝัั ะพัะฝะพัะธัะตะปัะฝะพ ัะพะดะธัะตะปััะบะพะณะพ ัะปะตะผะตะฝัะฐ.</p>
      <pre>
        <code class="language-html">&lt;div id=&quot;scrollbar&quot;&gt;
          ยย&lt;div class=&quot;track&quot; id=&quot;track&quot;&gt;&lt;/div&gt;
          ยย&lt;div class=&quot;thumb&quot; id=&quot;thumb&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
        </code>
      </pre>
      <pre>
        <code class="language-scss">.track {
          ยยposition: absolute;
          ยยtop: 0;
          ยยleft: 0;

          ยย// ะะฐัััะณะธะฒะฐะตะผ ะฝะฐ ะฒัั ะฟะปะพัะฐะดั
          ยยwidth: 100%;
          ยยheight: 100%;
          }

          .thumb {
          ยยleft: 0;
          ยยposition: absolute;
          ยย
          ยย// ะะฐัััะณะธะฒะฐะตะผ ัะพะปัะบะพ ะฟะพ ัะธัะธะฝะต
          ยยwidth: 100%;
          }
        </code>
      </pre>

      <p>ะะฐัััะธััะฒะฐะตะผ ะฒััะพัั ะฑะตะณัะฝะบะฐ: ะฟัะพะฟะพััะธะพะฝะฐะปัะฝะพ ะพัะฝะพัะตะฝะธั ะฒััะพัั ัะพะดะตัะถะฐะฝะธั ะธ ะฒััะพัั ะบะพะฝัะตะนะฝะตัะฐ.</p>
      <pre>
        <code class="language-javascript">const track = document.getElementById('track');
          const thumb = document.getElementById('thumb');

          const scrollRatio =
          ยยcontent.clientHeight / content.scrollHeight;
          thumb.style.height = `${scrollRatio * 100}%`;
        </code>
      </pre>

      <h4>ะะตัะตัะฐัะบะธะฒะฐะฝะธะต ะดะปั ะฟัะพะบัััะบะธ</h4>
      <p>ะะพะดัะพะฑะฝะตะต ะพ ัะตัะฝะธะบะต <a href="#topic-drag-to-scroll">ัะผ. ะทะดะตัั</a>.</p>
      <pre>
        <code class="language-javascript">let pos = { top: 0, y: 0 };

          const mouseDownThumbHandler = (e) =&gt; {
          ยยpos = {
          ยยยย// ะขะตะบััะฐั ะฟะพะทะธัะธั ะฑะตะณัะฝะบะฐ ะฟัะพะบัััะบะธ
          ยยยยtop: content.scrollTop,
          ยยยย// ะขะตะบััะฐั ะฟะพะทะธัะธั ะบัััะพัะฐ
          ยยยยy: e.clientY,
          ยย};

          ยยdocument.addEventListener(
          ยยยย'mousemove', mouseMoveHandler
          ยย);
          ยยdocument.addEventListener(
          ยยยย'mouseup', mouseUpHandler
          ยย);
          };

          const mouseMoveHandler = (e) =&gt; {
          ยย// ะะฐะบ ะดะฐะปะตะบะพ ะบัััะพั ะฟะตัะตะผะตััะธะปัั
          ยยconst dy = e.clientY - pos.y;

          ยย// ะัะพะบัััะธะฒะฐะตะผ ัะพะดะตัะถะฐะฝะธะต
          ยยcontent.scrollTop = pos.top + dy / scrollRatio;
          };

          // ะะฐะทะฝะฐัะฐะตะผ ะพะฑัะฐะฑะพััะธะบ `mousedown`
          thumb.addEventListener(
          ยย'mousedown', mouseDownThumbHandler
          );
        </code>
      </pre>

      <p>ะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟะตัะตััะณะธะฒะฐะตั ะฑะตะณัะฝะพะบ, ะพะฝ ัะฐะบะถะต ะฟัะพะบัััะธะฒะฐะตั ัะพะดะตัะถะฐะฝะธะต ัะปะตะผะตะฝัะฐ <code>content</code>. ะะปั ัะพะณะพ, ััะพะฑั ะพะฑะฝะพะฒะปััั ะฟะพะปะพะถะตะฝะธะต ะฑะตะณัะฝะบะฐ ะฝะฐะทะฝะฐัะธะผ ะพะฑัะฐะฑะพััะธะบ ัะพะฑััะธั <code>scroll</code> ะฝะฐ ัะปะตะผะตะฝั <code>content</code>.</p>
      <pre>
          <code class="language-javascript">const scrollContentHandler = () =&gt; {
          ยยwindow.requestAnimationFrame(() =&gt; {
          ยยยยthumb.style.top = `
          ยยยยยย${(content.scrollTop * 100) /
          ยยยยยยcontent.scrollHeight}%
          ยยยย`;
          ยย});
          };

          content.addEventListener('scroll', scrollContentHandler);
        </code>
      </pre>

      <h4>ะะตัะตัะพะดั ะฟะพ ะบะปะธะบั ะฝะฐ ยซัะตะปััะตยป</h4>
      <p>ะะปั ััะพะณะพ ัะฟะพัะพะฑะฐ ะฟัะพะบัััะบะธ ะผั ะดะพะปะถะฝั ัะฝะพะฒะฐ ัะฐัััะธัะฐัั ัะฒะพะนััะฒะพ <code>scrollTop</code> ัะปะตะผะตะฝัะฐ <code>content</code>.</p>
      <pre>
        <code class="language-javascript">const trackClickHandler = (e) =&gt; {
          ยยconst bound = track.getBoundingClientRect();
          ยยconst percentage =
          ยยยย(e.clientY - bound.top) / bound.height;
          ยยcontent.scrollTop =
          ยยยยpercentage *
          ยยยย(content.scrollHeight - content.clientHeight);
          };

          track.addEventListener('click', trackClickHandler);
        </code>
      </pre>
    </div>
  </details>

  {# Create a range slider #}
  <details class="accordion">
    <summary class="accordion__header">
      <h3>ะกะปะฐะนะดะตั ะดะธะฐะฟะฐะทะพะฝะฐ โ <code>range</code></h3>
    </summary>
    <div class="accordion__body">
      <p>ะะฒะฐ ัะฟะพัะพะฑะฐ ัะพะทะดะฐัั ัะปะตะผะตะฝั ัะฟัะฐะฒะปะตะฝะธั.</p>
      <h4>1) <code>input[type='range']</code> ะธ CSS</h4>
      <p>ยซะะตัะตะฒะพ ะธ ัะตัะดะธัะพยป.</p>
      <pre>
        <code class="language-html">&lt;input type=&quot;range&quot;&gt;</code>
      </pre>
      <pre>
        <code class="language-scss">[type='range'] {
          ยย--thumb-color: var(--color-primary-base);
          ยย--border-color: var(--color-ink-border);

          ยย$size-height-range-track: $size-half;
          ยย$size-height-range-thumb: $size-2p5;
          ยย$size-border-width-range-thumb: $size-half;

          ยยappearance: none;
          ยยbackground: none;
          ยยheight: $size-height-range-thumb;
          ยยwidth: 100%;

          ยย// โ๏ธ ะกะฟะธัะพะบ ัะตะปะตะบัะพัะพะฒ ะฒ ัะปััะฐะต
          ยย// ั ะฝะตััะฐะฝะดะฐััะฝัะผะธ ะฟัะฒะตะดะพัะปะตะผะตะฝัะฐะผะธ
          ยย// ะฝะต ััะฐะฑะฐััะฒะฐะตั. ะขะพะปัะบะพ ะผะธะบัะธะฝ ะธ ะธะฝะบะปัะด
          ยย// ะดะปั ะบะฐะถะดะพะณะพ ัะตะปะตะบัะพัะฐ ะฟะพ ะพัะดะตะปัะฝะพััะธ
          ยย@mixin range-track {
          ยยยยbackground-color: var(--border-color);
          ยยยยborder-radius: $shape-border-radius-pill;
          ยยยยtransition:
          ยยยยยยbackground
          ยยยยยย$motion-duration-sm
          ยยยยยย$motion-easing-base,
          ยยยยยยbox-shadow
          ยยยยยย$motion-duration-sm
          ยยยยยย$motion-easing-base;
          ยยยยwidth: 100%;
          ยยยยheight: $size-height-range-track;
          ยย}

          ยย// Track
          ยย&amp;::-webkit-slider-runnable-track {
          ยยยย@include range-track;
          ยย}

          ยย&amp;::-moz-range-track {
          ยยยย@include range-track;
          ยย}

          ยย&amp;::-ms-track {
          ยยยย@include range-track;
          ยย}

          ยย@mixin range-thumb {
          ยยยยappearance: none;
          ยยยยbackground-color: var(--thumb-color);
          ยยยยborder-radius: 50%;
          ยยยยborder:
          ยยยยยย$size-border-width-range-thumb
          ยยยยยยsolid
          ยยยยยยvar(--range-thumb-border-color);
          ยยยยcursor: pointer;
          ยยยยmargin-top: -(
          ยยยยยย$size-height-range-thumb * .5 -
          ยยยยยย$size-height-range-track * .5
          ยยยย);
          ยยยยtransition:
          ยยยยยยbackground
          ยยยยยย$motion-duration-sm
          ยยยยยย$motion-easing-base,
          ยยยยยยtransform
          ยยยยยย$motion-duration-sm
          ยยยยยย$motion-easing-base;
          ยยยยwidth: $size-height-range-thumb;
          ยยยยheight: $size-height-range-thumb;
          ยย}

          ยย// Thumb
          ยย&amp;::-webkit-slider-thumb {
          ยยยย@include range-thumb;
          ยย}

          ยย&amp;::-moz-range-thumb {
          ยยยย@include range-thumb;
          ยย}

          ยย&amp;::-ms-thumb {
          ยยยย@include range-thumb;
          ยย}

          ยย&amp;:hover {
          ยยยย--thumb-color: hsl(var(--h) var(--s) 65%);
          ยย}

          ยย&amp;:hover,
          ยย&amp;:focus,
          ยย&amp;:active {
          ยยยย// Thumb
          ยยยย&amp;::-webkit-slider-thumb {
          ยยยยยยtransform: scale(1.25);
          ยยยย}

          ยยยย&amp;::-moz-range-thumb {
          ยยยยยยtransform: scale(1.25);
          ยยยย}

          ยยยย&amp;::-ms-thumb {
          ยยยยยยtransform: scale(1.25);
          ยยยย}
          ยย}
          }
        </code>
      </pre>
      <p><code>input[type='range']</code> ะฟะพะดะดะตัะถะธะฒะฐะตััั ะฐะฑัะพะปััะฝัะผ ะฐะฑัะพะปััะฝัะผ ะฑะพะปััะธะฝััะฒะพะผ ะฑัะฐัะทะตัะพะฒ. ะะพ, ะตัะปะธ ะฟะพััะตะฑัะตััั, ะผะพะถะฝะพ ะดะพะฑะฐะฒะธัั ะฟัะพะฒะตัะบั.</p>
      <pre>
        <code class="language-javascript">const isRangeInputSupported = () =&gt; {
          ยยconst ele = document.createElement('input');
          ยยele.setAttribute('type', 'range');
          ยย/* ะัะปะธ ะฑัะฐัะทะตั ะฝะต ะฟะพะดะดะตัะถะธะฒะฐะตั ะฟะพะปะต `range`,
          ยยะฐััะธะฑััั `type` ะฑัะดะตั ะฟัะธัะฒะพะตะฝะพ ะทะฝะฐัะตะฝะธะต `text` */
          ยยreturn ele.type !== 'text';
          };
        </code>
      </pre>
      <p>ะะธะฝัั ะผะตัะพะดะฐ โ ะฝะตะปัะทั ัะดะตะปะฐัั ะฒะตััะธะบะฐะปัะฝัะน ะฒะธะดะถะตั.</p>
      <h4>2) JS</h4>
      <p>ะะพะปัะทะพะฒะฐัะตะปััะบะธะน ัะปะฐะนะดะตั ะดะธะฐะฟะฐะทะพะฝะฐ ัะพะฑะธัะฐะตััั ะธะท ััะตั ะดะตัะฐะปะตะน: ะฑะตะณัะฝะบะฐ ะธ ะดะฒัั ะฟะพะปะพะฒะธะฝะพะบ ะดะพัะพะถะบะธ.</p>
      <pre>
        <code class="language-html">&lt;div class=&quot;container&quot;&gt;
          ยย&lt;div class=&quot;left&quot;&gt;&lt;/div&gt;
          ยย&lt;div class=&quot;thumb&quot; id=&quot;thumb&quot;&gt;&lt;/div&gt;
          ยย&lt;div class=&quot;right&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
        </code>
      </pre>
      <pre>
        <code class="language-scss">.container {
          ยยdisplay: flex;
          ยยalign-items: center;
          ยยheight: $size-2p5;
          }

          .right {
          ยย// ะัะฐะฒะฐั ะฟะพะปะพะฒะธะฝะบะฐ ะทะฐะฝะธะผะฐะตั
          ยย// ะฒัั ัะฒะพะฑะพะดะฝะพะต ะผะตััะพ
          ยยflex: 1;
          ยยheight: $size-half;
          }
        </code>
      </pre>
      <p>ะะฐะทะฝะฐัะธะผ ะฝะฐ ะฑะตะณัะฝะพะบ ะพะฑัะฐะฑะพััะธะบ ัะพะฑััะธั <code>mousedown</code>, ััะพะฑั ัะดะตะปะฐัั ะตะณะพ ะฟะตัะตัะฐัะบะธะฒะฐะตะผัะผ. ะ ะพะฑัะฐะฑะพััะธะบ ะฑัะดะตั ัะพััะฐะฝัััั ะฟะพะทะธัะธั ัะปะตะผะตะฝัะฐ.</p>
      <pre>
        <code class="language-javascript">const thumb = document.getElementById('thumb');
          const leftSide = thumb.previousElementSibling;

          // The current position of mouse
          let x = 0;
          let y = 0;
          let leftWidth = 0;

          // ะะฑัะฐะฑะพััะธะบ ะฑัะดะตั ััะฐะฑะฐััะฒะฐัั ะฟัะธ ะฟะตัะตัะฐัะบะธะฒะฐะฝะธะธ
          const mouseDownHandler = (e) =&gt; {
          ยย// ะขะตะบััะฐั ะฟะพะทะธัะธั ะผััะธ
          ยยx = e.clientX;
          ยยy = e.clientY;
          ยยleftWidth = leftSide.getBoundingClientRect().width;

          ยย// ะะฐะทะฝะฐัะฐะตะผ ะฒะปะพะถะตะฝะฝัะต ะพะฑัะฐะฑะพััะธะบะธ
          ยยdocument.addEventListener(
          ยยยย'mousemove', mouseMoveHandler
          ยย);

          ยยdocument.addEventListener('mouseup', mouseUpHandler);
          };
        </code>
      </pre>
      <p>ะะพะณะดะฐ ะฑะตะณัะฝะพะบ ะฟะตัะตะผะตัะฐะตะผัั, ะผั ะผะพะถะตะผ ัะฐัััะธัะฐัั ัะฐัััะพัะฝะธะต, ะบะพัะพัะพะต ะฟัะพะดะตะปะฐะป ะบัััะพั โ ััะพ ะฑัะดะตั ัะฐะทะฝะธัะฐ ะผะตะถะดั ะธััะพะดะฝะพะน ะธ ัะตะบััะตะน ะฟะพะทะธัะธะตะน. ะก ััะธะผะธ ะดะฐะฝะฝัะผะธ ะผั ะผะพะถะตะผ ัะฐัััะธัะฐัั ะธ ัะธัะธะฝั ะปะตะฒะพะน ัะฐััะธ ะดะพัะพะถะบะธ.</p>
      <pre>
        <code class="language-javascript">const mouseMoveHandler = (e) =&gt; {
          ยย// ะะฐะบ ะดะฐะปะตะบะพ ะผััั ะฟัะพะดะฒะธะฝัะปะฐัั
          ยยconst dx = e.clientX - x;
          ยยconst dy = e.clientY - y;

          ยยconst containerWidth =
          ยยยยthumb.parentNode.getBoundingClientRect().width;
          ยยlet newLeftWidth =
          ยยยย((leftWidth + dx) * 100) / containerWidth;
          ยยnewLeftWidth = Math.max(newLeftWidth, 0);
          ยยnewLeftWidth = Math.min(newLeftWidth, 100);

          ยยleftSide.style.width = `${newLeftWidth}%`;
          };

          /* ะะฑัะฐะฑะพััะธะบ ััะฐะฑะฐััะฒะฐะตั ะฒ ัะพั ะผะพะผะตะฝั,
          ะบะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะพัะฟััะบะฐะตั ะฑะตะณัะฝะพะบ */
          const mouseUpHandler = () =&gt; {
          ยยleftSide.style.removeProperty('user-select');
          ยยleftSide.style.removeProperty('pointer-events');

          ยยrightSide.style.removeProperty('user-select');
          ยยrightSide.style.removeProperty('pointer-events');

          ยย// ะฃะดะฐะปัะตะผ ัะปััะฐัะตะปะธ, ะฟะพะบะฐ ะพะฝะธ ะฝะต ะฝัะถะฝั
          ยยdocument.removeEventListener(
          ยยยย'mousemove',
          ยยยยmouseMoveHandler
          ยย);
          ยย
          ยยdocument.removeEventListener(
          ยยยย'mouseup',
          ยยยยmouseUpHandler
          ยย);
          };

          // ะะฐะทะฝะฐัะฐะตะผ ะพะฑัะฐะฑะพััะธะบ
          thumb.addEventListener(
          ยย'mousedown', mouseDownHandler
          );
        </code>
      </pre>
    </div>
  </details>

{% endblock %}

