<!--noindex-->
  <noscript>
  <div class="alert is-warning is-global" role="alert">
    <p>
      <svg class="icon" focusable="false" aria-hidden="true">
        <use xlink:href="{{ site.assets }}/img/icons/sprite.svg#icon-warning-md"></use>
      </svg>
      В вашем браузере выключен JavaScript. Поэтому не работает основная навигация, не открываются окна дополнительной информации. <a href="https://yandex.ru/support/mail/tech-glossary.html#js-enable" target="_blank" rel="noopener noreferrer nofollow">Включите Javascript</a>.
    </p>
  </div>
</noscript>
<!--/noindex-->
