<footer class="footer">
  <p class="footer__copyright">
    © {{ 'now' | date: "%Y" }} Владимир Никишин,&nbsp;
    <a href="https://super-mark.ru/" target="_blank" rel="noopener noreferrer">
      SuperMark
    </a>.
  </p>
  <p class="footer__credits-caption">По материалам:</p>
  <ul class="footer__credits">
    {%- if page.categories[0] == 'JavaScript' -%}
      {%- if page.is-index -%}
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">MDN</a>,</li>
        <li><a href="https://www.w3schools.com/js/" target="_blank" rel="noopener noreferrer">W3Schools</a>,</li>
        <li><a href="https://learn.javascript.ru/" target="_blank" rel="noopener noreferrer">Современного учебника JavaScript</a>,</li>
      {%- endif -%}
      <li><a href="https://htmldom.dev/" target="_blank" rel="noopener noreferrer">HTML DOM</a>.</li>
    {%- endif -%}
  </ul>
</footer>
