// -----------------------------------------------------------------------------
// SUBSECTION ACCORDION
// -----------------------------------------------------------------------------
// #region

$details-animation-speed: $motion-duration-base;

// PARENT

.accordion {
  border: .1rem solid lighten($color-brand-primary-base, 39%);
  border-radius: $shape-border-radius-base;
  overflow: hidden;
  transition: height $details-animation-speed $motion-easing-base;
}

.accordion + .accordion {
  margin-top: $size-line;
}

.accordion + :not(.accordion) {
  margin-top: $size-line;

  @include media-breakpoint-up(md) {
    margin-top: $size-line * 2;
  }
}

// HEADER
.accordion__header {
  @extend %h4;

  background-color: $color-background-info;
  border-radius: $shape-border-radius-base;
  cursor: pointer;
  // Hide the summary marker in non-Webkit
  display: list-item;
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: var(--font-line-height-base);
  list-style: none;
  padding: $size-2 $size-6 $size-2 $size-2d5;
  position: relative;
  transition: color $details-animation-speed $motion-easing-base;

  &:focus {
    outline: none;
  }

  // Hide the marker in Webkit
  &::-webkit-details-marker {
    display: none;
  }

  .accordion[open] & {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $color-ink-primary-text;
  }
}

// CHEVRON
.accordion__header::after,
%accordion-chevron {
  background-color: transparent;
  background-image: var(--asset-data-image-chevron-down);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
  opacity: .54;
  position: absolute;
  top: $size-2;
  right: $size-2;
  transition: transform $motion-duration-sm;
  width: $size-height-icon;
  height: $size-height-icon;

  .accordion[open] & {
    transform: rotate(180deg);
  }
}

[open] > .accordion__header::before {
  transform: scaleY(-1);
}

// BODY

.accordion__body {
  padding: $size-2d5;
}
// #endregion

// -----------------------------------------------------------------------------
// SECTION ACCORDION
// -----------------------------------------------------------------------------
// #region

// We are usng BS collapse for section accordion

.accordion.is-section {
  border: 0;
  padding-bottom: 0;
}

.accordion.is-section > h2 {
  padding: 0;
  margin: 0;
}

.accordion__toggle {
  cursor: pointer;
  position: relative;
  padding-top: var(--size-padding-top-subhead-h2);
  padding-bottom: var(--size-padding-bottom-subhead-h2);
  padding-right: $size-6;
  width: 100%;

  &::after {
    @extend %accordion-chevron;

    margin-top: -$size-1d5;
  }
}

.accordion__toggle[aria-expanded='true']::after {
  transform: rotate(180deg);
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  overflow: hidden;
  transition: height $motion-duration-lg $motion-easing-base;
  height: 0;
}

.accordion.is-section > .accordion__body {
  padding: 0;
}
// #endregion
